<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="Platform"
      connectionString="Data Source=samb01vmd01c.cch.clearcosthealth.com,50005;Initial Catalog=CCH_FrontEnd2;Integrated Security=true;"
      xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="CCH_FrontEnd"
      connectionString="Data Source=samb01vmd01c.cch.clearcosthealth.com,50005;Initial Catalog=CCH_FrontEnd2;Integrated Security=true;"
      xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="CCH_HealthGrades"
      connectionString="Data Source=samb01vmd01c.cch.clearcosthealth.com,50005;Initial Catalog=CCH_HealthGrades;Integrated Security=true;"
      xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="CCH_Reference"
         connectionString="Data Source=samb01vmd01c.cch.clearcosthealth.com,50005;Initial Catalog=CCH_ReferenceData;Integrated Security=true;"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="CCH_DemoConnectionString"
         connectionString="Data Source=samb01vmd01c.cch.clearcosthealth.com,50005;Initial Catalog=CCH_Demo;Integrated Security=true;"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="LocalSqlServer"
         connectionString="Data Source=samb01vmd01c.cch.clearcosthealth.com,50005;Initial Catalog=CCH_FrontEnd2;Integrated Security=true;"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="CCH_DW"
       connectionString="Data Source=samb01vmd01c.cch.clearcosthealth.com,50005;Initial Catalog=CCH_DWH;Integrated Security=true;"
       xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>
  <appSettings>
    <add key="MediaBaseAddress" value="https://pmedia.clearcosthealth.com"
         xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="CardBaseAddress" value="https://pmedia.clearcosthealth.com/card"
         xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>
  <emailSettings>
    <settings useInternalServer="true" xdt:Transform="SetAttributes" />
    <internalServer>
      <network host="10.100.66.12" xdt:Transform="SetAttributes"/>
    </internalServer>
  </emailSettings>
  <applicationSettings>
    <CchWebAPI.Properties.Settings>
      <setting name="AllowedOrigins" serializeAs="String"
               xdt:Transform="Replace" xdt:Locator="Match(name)">
        <value>*|http://fiddle.jshell.net</value>
      </setting>
    </CchWebAPI.Properties.Settings>
  </applicationSettings>
</configuration>