<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="Platform"
      connectionString="Data Source=SAMB01VMD03C.cch.clearcosthealth.com,49111;Initial Catalog=CCH_FrontEnd2;Integrated Security=true;"
      xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="CCH_FrontEnd"
      connectionString="Data Source=SAMB01VMD03C.cch.clearcosthealth.com,49111;Initial Catalog=CCH_FrontEnd2;Integrated Security=true;"
      xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="CCH_HealthGrades"
      connectionString="Data Source=SAMB01VMD03C.cch.clearcosthealth.com,49111;Initial Catalog=CCH_HealthGrades;Integrated Security=true;"
      xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="CCH_Reference"
         connectionString="Data Source=SAMB01VMD03C.cch.clearcosthealth.com,49111;Initial Catalog=CCH_ReferenceData;Integrated Security=true;"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="CCH_DemoConnectionString"
         connectionString="Data Source=SAMB01VMD03C.cch.clearcosthealth.com,49111;Initial Catalog=CCH_Demo;Integrated Security=true;"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="LocalSqlServer"
         connectionString="Data Source=SAMB01VMD03C.cch.clearcosthealth.com,49111;Initial Catalog=CCH_FrontEnd2;Integrated Security=true;"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>
  <appSettings>
    <add key="MediaBaseAddress" value="https://a2media.clearcosthealth.com"
         xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="CardBaseAddress" value="https://a2media.clearcosthealth.com/card"
         xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>
  <applicationSettings>
    <CchWebAPI.Properties.Settings>
      <setting name="AllowedOrigins" serializeAs="String"
               xdt:Transform="Replace" xdt:Locator="Match(name)">
        <value>*|http://fiddle.jshell.net</value>
      </setting>
    </CchWebAPI.Properties.Settings>
  </applicationSettings>
</configuration>