<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="Platform"
      connectionString="Data Source=samb01vmd02c.cch.clearcosthealth.com,49510;Initial Catalog=CCH_FrontEnd2;Integrated Security=true;"
      xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="CCH_FrontEnd"
      connectionString="Data Source=samb01vmd02c.cch.clearcosthealth.com,49510;Initial Catalog=CCH_FrontEnd2;Integrated Security=true;"
      xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="CCH_HealthGrades"
      connectionString="Data Source=samb01vmd02c.cch.clearcosthealth.com,49510;Initial Catalog=CCH_HealthGrades;Integrated Security=true;"
      xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="CCH_Reference"
         connectionString="Data Source=samb01vmd02c.cch.clearcosthealth.com,49510;Initial Catalog=CCH_ReferenceData;Integrated Security=true;"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="CCH_DemoConnectionString"
         connectionString="Data Source=samb01vmd02c.cch.clearcosthealth.com,49510;Initial Catalog=CCH_Demo;Integrated Security=true;"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="LocalSqlServer"
         connectionString="Data Source=samb01vmd02c.cch.clearcosthealth.com,49510;Initial Catalog=CCH_FrontEnd2;Integrated Security=true;"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="CCH_DW"
       connectionString="Data Source=samb01vmd02c.cch.clearcosthealth.com,49510;Initial Catalog=CCH_DWH;Integrated Security=true;"
       xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>
  <appSettings>
    <add key="MediaBaseAddress" value="https://media.clearcosthealth.com"
         xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="CardBaseAddress" value="https://media.clearcosthealth.com/card"
         xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>
  <emailSettings>
    <settings useInternalServer="false" xdt:Transform="SetAttributes" />
    <externalServer from="Caesars App &lt;CaesarsApp@clearcosthealth.com&gt;" deliveryMethod="Network" xdt:Transform="SetAttributes">
      <network host="smtp.gmail.com" port="587" enableSsl="true" userName="SAMB01VMD01@clearcosthealth.com" password="pricetransparency" xdt:Transform="SetAttributes" />
    </externalServer>
  </emailSettings>
  <applicationSettings>
    <CchWebAPI.Properties.Settings>
      <setting name="AllowedOrigins" serializeAs="String"
               xdt:Transform="Replace" xdt:Locator="Match(name)">
        <value>*|http://fiddle.jshell.net</value>
      </setting>
    </CchWebAPI.Properties.Settings>
  </applicationSettings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
</configuration>