<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>

    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="CchWebAPI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>

    <sectionGroup name="emailSettings">
      <section name="settings" type="CchWebAPI.Configuration.EmailConfiguration"/>
      <section name="internalServer" type="System.Net.Configuration.SmtpSection" />
      <section name="externalServer" type="System.Net.Configuration.SmtpSection" />
    </sectionGroup>

    <!--<section name="emailSettings" type="CchWebAPI.Configuration.EmailConfiguration"/>-->

    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <clear />
    <!-- Processing SERVER 
    <add connectionString="Server=samb01vmd01c.cch.clearcosthealth.com,49312;Database=CCH_FrontEnd2;Integrated Security=true;" name="CCH_FrontEnd" providerName="System.Data.SqlClient"/>
    <add connectionString="Server=samb01vmd01c.cch.clearcosthealth.com,49312;Database=CCH_HealthGrades;Integrated Security=true;" name="CCH_HealthGrades" providerName="System.Data.SqlClient"/>
    <add connectionString="Server=samb01vmd01c.cch.clearcosthealth.com,49312;Database=CCH_Demo;Integrated Security=true;" name="CCH_DemoConnectionString" providerName="System.Data.SqlClient"/>
    <add connectionString="Server=samb01vmd01c.cch.clearcosthealth.com,49312;Database=CCH_ReferenceData;Integrated Security=true;" name="CCH_Reference" providerName="System.Data.SqlClient"/>
    <add connectionString="Server=samb01vmd01c.cch.clearcosthealth.com,49312;Database=CCH_FrontEnd2;Integrated Security=true;" name="LocalSqlServer"/> -->
    <!-- Development Server  
    -->
    <add connectionString="Data Source=kermitdb.cch.clearcosthealth.com,49155;Initial Catalog=CCH_FrontEnd2;Integrated Security=true;" name="CCH_FrontEnd" providerName="System.Data.SqlClient" />
    <add connectionString="Data Source=kermitdb.cch.clearcosthealth.com,49155;Initial Catalog=CCH_HealthGrades;Integrated Security=true;" name="CCH_HealthGrades" providerName="System.Data.SqlClient" />
    <add connectionString="Data Source=kermitdb.cch.clearcosthealth.com,49155;Initial Catalog=CCH_FrontEnd2;Integrated Security=true;" name="LocalSqlServer" providerName="System.Data.SqlClient" />
    <!-- Alpha SERVER 
    <add connectionString="Server=samb01vmd03c.cch.clearcosthealth.com,49222;Database=CCH_FrontEnd2;Integrated Security=true;" name="CCH_FrontEnd" providerName="System.Data.SqlClient" />
    <add connectionString="Server=samb01vmd03c.cch.clearcosthealth.com,49222;Database=CCH_HealthGrades;Integrated Security=true;" name="CCH_HealthGrades" providerName="System.Data.SqlClient"/>
    <add connectionString="Server=samb01vmd03c.cch.clearcosthealth.com,49222;Database=CCH_Demo;Integrated Security=true;" name="CCH_DemoConnectionString" providerName="System.Data.SqlClient"/>
    <add connectionString="Server=samb01vmd03c.cch.clearcosthealth.com,49222;Database=CCH_ReferenceData;Integrated Security=true;" name="CCH_Reference" providerName="System.Data.SqlClient" />
    <add connectionString="Server=samb01vmd03c.cch.clearcosthealth.com,49222;Database=CCH_FrontEnd2;Integrated Security=true;" name="LocalSqlServer"/>
-->
    <!-- New Alpha02 Server 
    <add connectionString="Server=samb01vmd03c.cch.clearcosthealth.com\alpha02,49435;Database=CCH_FrontEnd2;Integrated Security=true;" name="CCH_FrontEnd" providerName="System.Data.SqlClient" />
    <add connectionString="Server=samb01vmd03c.cch.clearcosthealth.com\alpha02,49435;Database=CCH_HealthGrades;Integrated Security=true;" name="CCH_HealthGrades" providerName="System.Data.SqlClient"/>
    <add connectionString="Server=samb01vmd03c.cch.clearcosthealth.com\alpha02,49435;Database=CCH_Demo;Integrated Security=true;" name="CCH_DemoConnectionString" providerName="System.Data.SqlClient"/>
    <add connectionString="Server=samb01vmd03c.cch.clearcosthealth.com\alpha02,49435;Database=CCH_ReferenceData;Integrated Security=true;" name="CCH_Reference" providerName="System.Data.SqlClient" />
    <add connectionString="Server=samb01vmd03c.cch.clearcosthealth.com\alpha02,49435;Database=CCH_FrontEnd2;Integrated Security=true;" name="LocalSqlServer"/>  -->
    <!-- Live Server 
    <add connectionString="Server=samb01vmd02c.cch.clearcosthealth.com,49344;Database=CCH_FrontEnd2;Integrated Security=true;" name="CCH_FrontEnd" providerName="System.Data.SqlClient" />
    <add connectionString="Server=samb01vmd02c.cch.clearcosthealth.com,49344;Database=CCH_HealthGrades;Integrated Security=true;" name="CCH_HealthGrades" providerName="System.Data.SqlClient"/>
    <add connectionString="Server=samb01vmd02c.cch.clearcosthealth.com,49344;Database=CCH_Demo;Integrated Security=true;" name="CCH_DemoConnectionString" providerName="System.Data.SqlClient"/>
    <add connectionString="Server=samb01vmd02c.cch.clearcosthealth.com,49344;Database=CCH_ReferenceData;Integrated Security=true;" name="CCH_Reference" providerName="System.Data.SqlClient" />
    <add connectionString="Server=samb01vmd02c.cch.clearcosthealth.com,49344;Database=CCH_FrontEnd2;Integrated Security=true;" name="LocalSqlServer"/> -->
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <!--<add key="MediaBaseAddress" value="https://dmedia.clearcosthealth.com" />
    <add key="CardBaseAddress" value="https://dmedia.clearcosthealth.com/card" />-->
    <add key="MediaBaseAddress" value="http://localhost:8084" />
    <add key="CardBaseAddress" value="http://localhost:8084/card" />
    <add key="AspNetUserName" value="CchWebApi" />
    <add key="ClearCost.TraceEnabled" value="true" />
    <add key="ClearCost.LogRequestBody" value="false" />
    <add key="TimeoutInMinutes" value="15" />
    <add key="CchPublicKey" value="BgIAAACkAABSU0ExAAQAAAEAAQA9L+bYuMlg8EUzTaF9buWgDlyG5QxwcsDRTD3za6iZ9MZIW2xAsQLDXrmvdXCmsnW8T1WMfOMIzUVhSCMED4PBu2ik1Kvf37OTEvgVUaK0iGWE+MTU/g9YC83xs8hs312b0QUOyL/wGAqurcBO6pqwNuwE23P+FSBtM5vHhuS/yw==" />
    <add key="CchPrivateKey" value="BwIAAACkAABSU0EyAAQAAAEAAQA9L+bYuMlg8EUzTaF9buWgDlyG5QxwcsDRTD3za6iZ9MZIW2xAsQLDXrmvdXCmsnW8T1WMfOMIzUVhSCMED4PBu2ik1Kvf37OTEvgVUaK0iGWE+MTU/g9YC83xs8hs312b0QUOyL/wGAqurcBO6pqwNuwE23P+FSBtM5vHhuS/yyXvffiyw/ZKRaXFp0b7OXVC64oLL+WIoSpPVd+WIMf1OdPBgSwvachkr6u8uOkSWbANw0ZAm51Fw96UdTwq0to5MGGv3mj35dZe9AjnVDMej0cwyiX5fiCBXL22qMrPgtgMcdCuA1JOIIUGTo9ir/TxJj5CmpehelJMNtLmLl7ugXaPS6o+Vq4xlUmCs4f+OHaozr5AxzHamZkX97OOMWZdFjJh8HsuqR2MuyI7fuFcJHQIEDYtu4mGJJf/Yb6lpDEbCDseTqv66b2vfYmhPGvYoJqXpvwU3v2RiNHIwgVtVuVcDUS587wx7QGcfy5PFAK/Ce15EsDvUNtAviuS21H5oC4Jk2o9VIswwSBc4pfqbvdsiCNrsmbx3V8he+G16LIj5rHbbpt1qpPgG0axBFvD6kWFCN3FB2LFQTiRQyOGOSdPGxAJ+x6JfptB47Astsa0HWeb8UdgDEr8AKA97HSsSk7aqIAM49Kaenqk+pCGDGLvCfqRxr+wDdqxf5CM4EM2vmwDkTIVsEfFQ/J5B1BNt/kAb2nierragyiLMQgUdcyOJ/IO0/o3ZTCUbkahJOiDHINsYkQDg2LXvBNzpww=" />
  </appSettings>
  
  <emailSettings>
    <settings useInternalServer="true" />
    <internalServer from="Caesars App &lt;CaesarsApp@clearcosthealth.com&gt;" deliveryMethod="Network">
      <network host="10.100.31.12" port="25" enableSsl="false" defaultCredentials="true"
        userName="SAMB01VMD01@clearcosthealth.com" password="pricetransparency"/>
    </internalServer>
    <externalServer from="Caesars App &lt;CaesarsApp@clearcosthealth.com&gt;" deliveryMethod="Network">
      <network host="smtp.gmail.com" port="587" enableSsl="true"
        userName="SAMB01VMD01@clearcosthealth.com" password="pricetransparency"/>
    </externalServer>
  </emailSettings>
  
  <system.web>
    <compilation debug="true" targetFramework="4.6.1" />
    <authentication mode="None" />
    <httpRuntime relaxedUrlToFileSystemMapping="true" maxUrlLength="65536" maxQueryStringLength="32768" />
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
    <profile defaultProvider="DefaultProfileProvider">
      <providers>
        <add name="DefaultProfileProvider" type="System.Web.Providers.DefaultProfileProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" applicationName="/" />
      </providers>
    </profile>
    <membership defaultProvider="DefaultMembershipProvider" userIsOnlineTimeWindow="15">
      <providers>
        <clear />
        <add name="DefaultMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="CCH_FrontEnd" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="true" applicationName="/" requiresUniqueEmail="false" passwordFormat="Hashed" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="8" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" passwordStrengthRegularExpression="" />
      </providers>
    </membership>
    <roleManager enabled="true" defaultProvider="DefaultRoleProvider">
      <providers>
        <clear />
        <add name="DefaultRoleProvider" connectionStringName="CCH_FrontEnd" applicationName="/" type="System.Web.Security.SqlRoleProvider" />
      </providers>
    </roleManager>
    <sessionState mode="InProc" customProvider="DefaultSessionProvider">
      <providers>
        <add name="DefaultSessionProvider" type="System.Web.Providers.DefaultSessionStateProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" />
      </providers>
    </sessionState>
  </system.web>
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxQueryString="32768" />
      </requestFiltering>
    </security>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="WebDAVModule" />
    </modules>
    <handlers>

      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" />
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />




      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <tracing>
      <traceFailedRequests>
        <remove path="*" />
        <add path="*">
          <traceAreas>
            <add provider="ASP" verbosity="Verbose" />
            <add provider="ASPNET" areas="Infrastructure,Module,Page,AppServices" verbosity="Verbose" />
            <add provider="ISAPI Extension" verbosity="Verbose" />
            <add provider="WWW Server" areas="Authentication,Security,Filter,StaticFile,CGI,Compression,Cache,RequestNotifications,Module,FastCGI" verbosity="Verbose" />
          </traceAreas>
          <failureDefinitions statusCodes="400-999" />
        </add>
      </traceFailedRequests>
    </tracing>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30AD4FE6B2A6AEED" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31BF3856AD364E35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <applicationSettings>
    <CchWebAPI.Properties.Settings>
      <setting name="SecretKey" serializeAs="String">
        <value>95365a75-e925-42d8-9d5c-e15ca755d18f</value>
      </setting>
      <setting name="AllowedOrigins" serializeAs="String">
        <value>*|http://fiddle.jshell.net</value>
      </setting>
    </CchWebAPI.Properties.Settings>
  </applicationSettings>
</configuration>