@{
    ViewBag.Title = "Oops";
}
<br/>
<br/>
<br/>
<h1>Sorry, we could not verify your identity</h1>
<br/>
<div>
@Html.ActionLink("Back to Intro", "Index")
@*      <input type="submit" value="Back to Intro" class="btn btn-default" />*@
@*      <a href="#">Back to Intro</a>*@
</div>

