@model PreRendered.Models.UserSessionVideoModel

@{
    ViewBag.Title = "Survey Mobile";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    @Html.HiddenFor(model => model.VideoCampaignMemberId)

    if (@ViewBag.ShowModal == 0)
    {
        <h3>
            Was this information helpful to you?
        </h3>

        <div class="form-horizontal">
            <br/>
            <button data-icon="heart" name="button" value="YES" data-iconpos="top">Yes button</button>
            <button data-icon="delete" name="button" value="NO" data-iconpos="top">No button</button>
            <br/>
        </div>
    }
    else
    {
        <h3>
            Next Steps
        </h3>

        <div class="form-horizontal">
            <a href="../Home/Private?replay=1" 
               data-role="button" data-icon="video" data-iconpos="top">Replay Animation</a>
            <a href="../Home/Survey?goCch=1" target="_blank"
               data-role="button" data-icon="action" data-iconpos="top">Login to ClearCost Health</a>
            <a href="../Home/Survey?goBenefits=1" target="_blank"
               data-role="button" data-icon="action" data-iconpos="top">Learn More About Your Benefits</a>
        </div>
    }
}
<br/>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
