@{
    Layout = null;
}
<!-- Generator: Adobe Illustrator 18.1.1, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
<!DOCTYPE SVG PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
<svg version="1.1" id="medID_humanaPOS" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
     y="0px" viewBox="0 0 750 1200" enable-background="new 0 0 750 1200" xml:space="preserve">
    <link href="../css/Player.css" rel="stylesheet" type="text/css" />
<g>
<text transform="matrix(4.489659e-11 -1 1 4.489659e-11 313.658 1137.9243)" font-family="'ArialMT'" font-size="26.2725">Express Scripts:</text>
</g>
<g>
<rect x="390.107" y="821.897" fill="none" width="97.117" height="316.028" />
<text transform="matrix(4.489659e-11 -1 1 4.489659e-11 412.6535 1137.9243)"><tspan x="0" y="0" font-family="'ArialMT'" font-size="26.2725">Humana Claims</tspan><tspan x="0" y="31.527" font-family="'ArialMT'" font-size="26.2725">P.O. Box 14601  </tspan><tspan x="0" y="63.054" font-family="'ArialMT'" font-size="26.2725">Lexington, KY 40512-4601</tspan></text>
</g>
<g>
<rect x="390.107" y="301.423" fill="none" width="34.12" height="316.028" />
<text transform="matrix(4.489659e-11 -1 1 4.489659e-11 412.6535 617.4507)" font-family="'ArialMT'" font-size="26.2725">Payor ID: 61101</text>
</g>
<g>
<rect x="549.099" y="554.911" fill="none" width="35.62" height="583.014" />
<text transform="matrix(4.489659e-11 -1 1 4.489659e-11 571.6446 1137.9243)" font-family="'ArialMT'" font-size="26.2725">Administered by Humana Health Plan, Inc. - ASO</text>
</g>
<g>
<rect x="549.099" y="235.252" fill="none" width="31.077" height="188.176" />
<text transform="matrix(4.489659e-11 -1 1 4.489659e-11 571.6382 423.4277)" font-family="'Arial-BoldMT'" font-size="26.2725">Card Issued:</text>
</g>
<g>
<text transform="matrix(4.489659e-11 -1 1 4.489659e-11 236.6319 1137.9243)" font-family="'ArialMT'" font-size="26.2725">Member/Provider Service:</text>
</g>
<path fill="#808080" d="M724.712,44.191v1110.478c0,23.999-19.425,43.301-43.299,43.301H69.729
	c-24.003,0-43.303-19.427-43.303-43.301V44.191c0-23.999,19.429-43.301,43.303-43.301l611.554,0
	C705.287,0.89,724.712,20.317,724.712,44.191z M32.015,1154.669c0,20.824,17.015,37.839,37.837,37.839h611.56
	c20.825,0,37.839-17.017,37.839-37.839V44.191c0-20.699-17.015-37.714-37.839-37.841l-611.683,0
	c-20.827,0-37.841,17.017-37.841,37.841v1110.478H32.015L32.015,1154.669z" />
<g id="liveLinks">
<a xlink:href="Humana.com">
<g>
			
<text transform="matrix(4.489659e-11 -1 1 4.489659e-11 184.4217 1137.9243)" fill="#0080EA" font-family="'ArialMT'" font-size="26.2725">Humana.com</text>
		</g>
	</a>
<a xlink:href="1-855-634-8486">
<g>
<rect x="211.055" y="301.423" fill="none" width="34.12" height="316.028" />

			
<text transform="matrix(4.489659e-11 -1 1 4.489659e-11 233.6013 617.4507)" fill="#0080EA" font-family="'ArialMT'" font-size="26.2725">1-855-634-8486</text>
		</g>
	</a>
<a xlink:href="1-866-578-5001">
<g>
<rect x="279.538" y="301.423" fill="none" width="34.12" height="316.028" />

			
<text transform="matrix(4.489659e-11 -1 1 4.489659e-11 302.0842 617.4507)" fill="#0080EA" font-family="'ArialMT'" font-size="26.2725">1-866-578-5001</text>
		</g>
	</a>
</g>
<g id="variables">
<g id="CardIssuedDateValue">
<rect x="549.099" y="85.75" fill="none" width="31.077" height="158.176" />
<text transform="matrix(4.489659e-11 -1 1 4.489659e-11 571.6382 243.9253)" font-family="'Arial-BoldMT'" font-size="26.2725">04/02/2015</text>
	</g>
</g>
</svg>
