@{
    Layout = null;
}
<!-- Generator: Adobe Illustrator 18.1.1, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
<!DOCTYPE SVG PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
<svg version="1.1" id="rxID" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
     viewBox="0 0 750 1200" enable-background="new 0 0 750 1200" xml:space="preserve">
<g>
<g>
<defs>
<path id="SVGID_1_" d="M721.924,47.597v1104.64c0,22.421-18.176,40.596-40.596,40.596H68.672
				c-22.421,0-40.596-18.176-40.596-40.596l0-1104.64C28.076,25.176,46.252,7,68.672,7h612.655
				C703.748,7,721.924,25.176,721.924,47.597z" />
		</defs>
<clipPath id="SVGID_2_">
<use xlink:href="#SVGID_1_" overflow="visible" />
		</clipPath>
<rect x="586" y="7" clip-path="url(#SVGID_2_)" fill="#90A3C8" width="152.18" height="1190.481" />
	</g>
<path fill="none" stroke="#808080" stroke-width="6" stroke-miterlimit="10" d="M721.924,47.597v1104.64
		c0,22.421-18.176,40.596-40.596,40.596H68.672c-22.421,0-40.596-18.176-40.596-40.596l0-1104.64C28.076,25.176,46.252,7,68.672,7
		h612.655C703.748,7,721.924,25.176,721.924,47.597z" />
<a xlink:href="www.express-scripts.com">
		
<text transform="matrix(4.489659e-11 -1 1 4.489659e-11 253.0352 996.1118)" fill="#295CA1" font-family="'Lato-Bold'" font-size="56.6993">Visit www.express-scripts.com</text>
	</a>
<text transform="matrix(4.489659e-11 -1 1 4.489659e-11 331.4102 1004.438)"><tspan x="0" y="0" font-family="'HelveticaNeue'" font-size="44.1325">Patient Customer Service:</tspan><tspan x="0" y="47.915" font-family="'HelveticaNeue'" font-size="44.1325">TDD:</tspan><tspan x="0" y="143.746" font-family="'HelveticaNeue'" font-size="34.0451">Pharmacist Use Only</tspan></text>
<text transform="matrix(4.489659e-11 -1 1 4.489659e-11 331.4102 496.6123)"><tspan x="0" y="0" fill="#295CA1" font-family="'HelveticaNeue'" font-size="44.1325" letter-spacing="-1">1.866.578.5001</tspan><tspan x="0" y="47.915" fill="#295CA1" font-family="'HelveticaNeue'" font-size="44.1325" letter-spacing="-1">1.800.759.1089</tspan><tspan x="0" y="143.746" font-family="'HelveticaNeue'" font-size="34.0451" letter-spacing="-1">1.800.922.1557</tspan></text>
<line fill="none" stroke="#295CA1" stroke-width="3" stroke-miterlimit="10" x1="265.5" y1="983" x2="265.5" y2="220" />
<a xlink:href="1.866.578.5001">
<rect x="285" y="209.974" fill="none" width="51" height="291" />
	</a>
<a xlink:href="1.800.759.1089">
<rect x="343" y="209.974" fill="none" width="51" height="291" />
	</a>
</g>
</svg>
