/* FONTS */
@font-face {
  font-family:'Lato';
  font-style:normal;
  font-weight:400;
  src:local('Lato Regular'), local('LatoRegular'), local('Lato-Regular');
  src:url('../fonts/Lato-Regular.eot');
  src:url('../fonts/Lato-Regular.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Lato-Regular.woff') format('woff'),
      url('../fonts/Lato-Regular.tff') format('truetype'),
      url('../fonts/Lato-Regular.otf') format('opentype'),
      url('../fonts/Lato-Regular.svg') format('svg');
}
@font-face {
  font-family:'Lato';
  font-style:normal;
  font-weight:700;
  src:local('Lato Bold'), local('LatoBold'), local('Lato-Bold');
  src:url('../fonts/Lato-Bold.eot');
  src:url('../fonts/Lato-Bold.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Lato-Bold.woff') format('woff'),
      url('../fonts/Lato-Bold.tff') format('truetype'),
      url('../fonts/Lato-Bold.otf') format('opentype'),
      url('../fonts/Lato-Bold.svg') format('svg');
}
@font-face {
  font-family:'Varela Round';
  font-style:normal;
  font-weight:normal;
  src:local('Varela Round'), local('VarelaRound'), local('Varela-Round');
  src:url('../fonts/VarelaRound-Regular.eot');
  src:url('../fonts/VarelaRound-Regular.eot?#iefix') format('embedded-opentype'),
      url('../fonts/VarelaRound-Regular.woff') format('woff'),
      url('../fonts/VarelaRound-Regular.tff') format('truetype'),
      url('../fonts/VarelaRound-Regular.otf') format('opentype'),
      url('../fonts/VarelaRound-Regular.svg') format('svg');
}
@font-face {
  font-family:'VarelaRound';
  font-style:normal;
  font-weight:normal;
  src:local('Varela Round'), local('VarelaRound'), local('Varela-Round');
  src:url('../fonts/VarelaRound-Regular.eot');
  src:url('../fonts/VarelaRound-Regular.eot?#iefix') format('embedded-opentype'),
      url('../fonts/VarelaRound-Regular.woff') format('woff'),
      url('../fonts/VarelaRound-Regular.tff') format('truetype'),
      url('../fonts/VarelaRound-Regular.otf') format('opentype'),
      url('../fonts/VarelaRound-Regular.svg') format('svg');
}

/* MTL */
div.anzovinmod-maintimeline {
  position:relative;
  top:0px;
  left:0px;
  margin:0px;
  padding:0px;
  overflow:hidden;
}
div.anzovinmod-maintimeline canvas {
  position:absolute;
  top:0px;
  left:0px;
  margin:0px;
  padding:0px;
  z-index:101;
}
div.anzovinmod-maintimeline form {
  position:absolute;
  top:0px;
  left:0px;
  margin:0px;
  padding:0px;
  z-index:100;
}
div.anzovinmod-maintimeline form div {
  position:absolute;
  top:0px;
  left:0px;
  margin:0px;
  padding:0px;
  width:0px;
  height:0px;
  border:none;
  z-index:102;
  transform:scale(1);
  transform-origin:top left;
  moz-transform-origin:top left;
  ms-transform-origin:top left;
  o-transform-origin:top left;
  webkit-transform-origin:top left;
}
div.anzovinmod-maintimeline form input {
  position:absolute;
  background:none;
  border:none;
  margin:0px;
  padding:0px;
  transform:matrix(1,0,0,1,0,0);
}