/* FONTS */
@font-face {
  font-family:'Lato';
  font-style:normal;
  font-weight:400;
  src:local('Lato Regular'), local('LatoRegular'), local('Lato-Regular');
  src:url('../fonts/Lato-Regular.eot');
  src:url('../fonts/Lato-Regular.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Lato-Regular.woff') format('woff'),
      url('../fonts/Lato-Regular.ttf') format('truetype'),
      url('../fonts/Lato-Regular.otf') format('opentype'),
      url('../fonts/Lato-Regular.svg') format('svg');
}
@font-face {
  font-family:'Lato-Bold';
  font-style:normal;
  font-weight:700;
  src:local('Lato Bold'), local('LatoBold'), local('Lato-Bold');
  src:url('../fonts/Lato-Bold.eot');
  src:url('../fonts/Lato-Bold.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Lato-Bold.woff') format('woff'),
      url('../fonts/Lato-Bold.ttf') format('truetype'),
      url('../fonts/Lato-Bold.otf') format('opentype'),
      url('../fonts/Lato-Bold.svg') format('svg');
}
@font-face {
  font-family:'Varela Round';
  font-style:normal;
  font-weight:normal;
  src:local('Varela Round'), local('VarelaRound'), local('Varela-Round');
  src:url('../fonts/VarelaRound-Regular.eot');
  src:url('../fonts/VarelaRound-Regular.eot?#iefix') format('embedded-opentype'),
      url('../fonts/VarelaRound-Regular.woff') format('woff'),
      url('../fonts/VarelaRound-Regular.tff') format('truetype'),
      url('../fonts/VarelaRound-Regular.otf') format('opentype'),
      url('../fonts/VarelaRound-Regular.svg') format('svg');
}
@font-face {
  font-family:'VarelaRound';
  font-style:normal;
  font-weight:normal;
  src:local('Varela Round'), local('VarelaRound'), local('Varela-Round');
  src:url('../fonts/VarelaRound-Regular.eot');
  src:url('../fonts/VarelaRound-Regular.eot?#iefix') format('embedded-opentype'),
      url('../fonts/VarelaRound-Regular.woff') format('woff'),
      url('../fonts/VarelaRound-Regular.tff') format('truetype'),
      url('../fonts/VarelaRound-Regular.otf') format('opentype'),
      url('../fonts/VarelaRound-Regular.svg') format('svg');
}

/* PRELOADER */
div.anzovinmod-preloader {
  position:absolute;
  top:0px;
  left:0px;
  text-align:center;
  margin-top:20%;
  font-family:"Varela Round",sans-serif;
  font-size:15pt;
  color:#4a8dd6;
  width:100%;
}

/* PLAYER */
div.anzovinmod-player {
  position:relative;
  top:0px;
  left:0px;
  margin:0px;
  padding:0px;
  overflow:hidden;
}
div.anzovinmod-player div {
  padding:0px;margin:0px;
}

/* CANVAS */
div.anzovinmod-player .anzovinmod-maintimeline {
  display:none;
}
div.anzovinmod-player.mtl-started .anzovinmod-maintimeline {
  display:block;
}

div.anzovinmod-player .player-controls {
}
div.anzovinmod-player .player-controls .frame {
  width:100%;height:100%;
  /* z-index:auto required for IE to properly context */
  z-index:auto;
}
div.anzovinmod-player .player-controls .controls {
  position:absolute;
  width:0px;height:0px;
  z-index:auto;
}
div.anzovinmod-player .player-controls .controls-top-left {
  top:0px;left:0px;
}
div.anzovinmod-player .player-controls .controls-top-right {
  top:0px;right:0px;
}
div.anzovinmod-player .player-controls .controls-bottom-left {
  bottom:0px;left:0px;
}
div.anzovinmod-player .player-controls .controls-bottom-right {
  bottom:0px;right:0px;
}
div.anzovinmod-player .player-controls .controls-top {
  top:0px;
  width:100%;
}
div.anzovinmod-player .player-controls .controls-left {
  left:0px;
  height:100%;
}
div.anzovinmod-player .player-controls .controls-bottom {
  bottom:0px;
  width:100%;
}
div.anzovinmod-player .player-controls .controls-right {
  right:0px;
  height:100%;
}
div.anzovinmod-player .player-controls .controls-center {
  width:0px;height:0px;
  top:50%;left:50%;
}
div.anzovinmod-player .player-controls .controls .control {
  background-image:url("../images/1x1-3F414B-0.21.png");
  position:absolute;
  z-index:110;
}

/* MOUSE OUT - HIDE UI */
div.anzovinmod-player .player-controls.no-controls .controls {
  display:none;
}

/* POSTER IMAGE */
div.anzovinmod-player img.poster {
  width:0px;height:0px;
  position:absolute;
  top:0px;left:0px;
}
div.anzovinmod-player.mtl-started img.poster {
  display:none;
}

/* TOP BORDER */
div.anzovinmod-player .player-controls .controls-top .control-top-bar {
  width:10000px;height:0px;
  top:0px;left:-4000px;
  background-image:url('../images/1x1-3F414B-0.21.png');
  display:none;
}
div.anzovinmod-player.mtl-started .player-controls .controls-top .control-top-bar {
  display:block;
}
/* sizes */
div.anzovinmod-player.size-l .player-controls .controls-top .control-top-bar {
  height:80px;
}
div.anzovinmod-player.size-m .player-controls .controls-top .control-top-bar {
  height:80px;
}
div.anzovinmod-player.size-s .player-controls .controls-top .control-top-bar {
  height:60px;
}

/* BOTTOM BORDER */
div.anzovinmod-player .player-controls .controls-bottom .control-bottom-bar {
  width:10000px;height:0px;
  bottom:0px;left:-4000px;
  background-image:url('../images/1x1-3F414B-0.21.png');
  display:none;
}
div.anzovinmod-player.mtl-started .player-controls .controls-bottom .control-bottom-bar {
  display:block;
}
/* sizes */
div.anzovinmod-player.size-l .player-controls .controls-bottom .control-bottom-bar {
  height:100px;
}
div.anzovinmod-player.size-m .player-controls .controls-bottom .control-bottom-bar {
  height:70px;
}
div.anzovinmod-player.size-s .player-controls .controls-bottom .control-bottom-bar {
  height:48px;
}
div.anzovinmod-player.size-s.is-mobile .player-controls .controls-bottom .control-bottom-bar {
  height:60px;
}

/* LOADING */
div.anzovinmod-player .player-controls .frame .control-loading-frame {
  width:100%;height:100%;
  background-image:url('../images/1x1.png');
  position:absolute;
  top:0px;left:0px;
  z-index:109;
}
div.anzovinmod-player .player-controls .controls-center .control-loading {
  left:0px;top:0px;
  background-image:none;
}
div.anzovinmod-player .player-controls .controls-center .control-loading .loading-image {
  width:0px;height:0px;
  margin:0px;padding:0px;
  border:none;
}
div.anzovinmod-player.mtl-loaded .player-controls .frame .control-loading-frame {
  display:none;
}
div.anzovinmod-player.mtl-loaded .player-controls .controls-center .control-loading {
  display:none;
}
/* sizes */
div.anzovinmod-player.size-l .player-controls .controls-center .control-loading {
  left:-64px;top:-64px;
}
div.anzovinmod-player.size-l .player-controls .controls-center .control-loading .loading-image {
  width:128px;height:128px;
}
div.anzovinmod-player.size-m .player-controls .controls-center .control-loading {
  left:-32px;top:-32px;
}
div.anzovinmod-player.size-m .player-controls .controls-center .control-loading .loading-image {
  width:64px;height:64px;
}
div.anzovinmod-player.size-s .player-controls .controls-center .control-loading {
  left:-16px;top:-16px;
}
div.anzovinmod-player.size-s .player-controls .controls-center .control-loading .loading-image {
  width:32px;height:32px;
}

/* LOADING TEXT */
div.anzovinmod-player .player-controls .controls-center .control-loading-text {
  left:0px;top:30px;
  font-family:'Varela Round',sans-serif;
  font-size:0pt;
  text-align:center;
  color:#4A8DD6;
  background-image:none;
}
div.anzovinmod-player .player-controls .controls-center .control-loading-text div {
  width:0px;
}
div.anzovinmod-player.mtl-loaded .player-controls .controls-center .control-loading-text {
  display:none;
}
/* sizes */
div.anzovinmod-player.size-l .player-controls .controls-center .control-loading-text {
  left:-150px;
  font-size:30pt;
}
div.anzovinmod-player.size-l .player-controls .controls-center .control-loading-text div {
  width:300px;
}
div.anzovinmod-player.size-m .player-controls .controls-center .control-loading-text {
  left:-100px;
  font-size:20pt;
}
div.anzovinmod-player.size-m .player-controls .controls-center .control-loading-text div {
  width:200px;
}
div.anzovinmod-player.size-s .player-controls .controls-center .control-loading-text {
  left:-75px;
  font-size:15pt;
}
div.anzovinmod-player.size-s .player-controls .controls-center .control-loading-text div {
  width:150px;
}

/* EXIT */
/*
div.anzovinmod-player .player-controls .controls-top-right .control-exit {
  width:0px;height:0px;
  background-image:url('../images/spritesheet-player.png');
  background-position:0px 0px;
  top:0px;right:0px;
  cursor:pointer;
  display:none;
}
*/

/* VOLUME */
div.anzovinmod-player .player-controls .controls-bottom-right .control-volume {
  width:0px;height:0px;
  cursor:pointer;
  display:none;
}
div.anzovinmod-player .player-controls .controls-bottom-right .control-volume .icon {
  width:0px;height:0px;
  background-image:url('../images/spritesheet-player.png');
  cursor:pointer;
  position:absolute;
}
div.anzovinmod-player.mtl-started .player-controls .controls-bottom-right .control-volume {
  display:block;
}
div.anzovinmod-player.is-mobile.mtl-started .player-controls .controls-bottom-right .control-volume {
  display:none;
}
/* sizes */
div.anzovinmod-player.size-l .player-controls .controls-bottom-right .control-volume {
  bottom:0px;right:356px;
  width:150px;height:100px;
}
div.anzovinmod-player.size-m .player-controls .controls-bottom-right .control-volume {
  bottom:0px;right:242px;
  width:100px;height:70px;
}
div.anzovinmod-player.size-s .player-controls .controls-bottom-right .control-volume {
  bottom:0px;right:162px;
  width:70px;height:48px;
}
div.anzovinmod-player.size-l .player-controls .controls-bottom-right .control-volume .icon {
  width:79px;height:65px;
  background-position:-1497px -475px;
  bottom:17px;left:35px;
}
div.anzovinmod-player.size-l .player-controls .controls-bottom-right .control-volume:hover .icon, div.anzovinmod-player.size-l .player-controls .controls-bottom-right .control-volume .icon:hover {
  background-position:-1497px -317px;
}
div.anzovinmod-player.size-l .player-controls .controls-bottom-right .control-volume:active .icon, div.anzovinmod-player.size-l .player-controls .controls-bottom-right .control-volume .icon:active {
  background-position:-1497px -393px;
}
div.anzovinmod-player.size-l .player-controls .controls-bottom-right .control-volume.active .icon {
  width:42px;height:65px;
  background-position:-1578px -475px;
}
div.anzovinmod-player.size-l .player-controls .controls-bottom-right .control-volume.active:hover .icon, div.anzovinmod-player.size-l .player-controls .controls-bottom-right .control-volume.active .icon:hover {
  background-position:-1578px -317px;
}
div.anzovinmod-player.size-l .player-controls .controls-bottom-right .control-volume.active:active .icon, div.anzovinmod-player.size-l .player-controls .controls-bottom-right .control-volume.active .icon:active {
  background-position:-1578px -393px;
}
div.anzovinmod-player.size-m .player-controls .controls-bottom-right .control-volume .icon {
  width:52px;height:44px;
  background-position:-595px -621px;
  bottom:13px;left:24px;
}
div.anzovinmod-player.size-m .player-controls .controls-bottom-right .control-volume:hover .icon, div.anzovinmod-player.size-m .player-controls .controls-bottom-right .control-volume .icon:hover {
  background-position:-998px -103px;
}
div.anzovinmod-player.size-m .player-controls .controls-bottom-right .control-volume:active .icon, div.anzovinmod-player.size-m .player-controls .controls-bottom-right .control-volume .icon:active {
  background-position:-998px -154px;
}
div.anzovinmod-player.size-m .player-controls .controls-bottom-right .control-volume.active .icon {
  width:28px;height:44px;
  background-position:-649px -621px;
}
div.anzovinmod-player.size-m .player-controls .controls-bottom-right .control-volume.active:hover .icon, div.anzovinmod-player.size-m .player-controls .controls-bottom-right .control-volume.active .icon:hover {
  background-position:-998px -154px;
}
div.anzovinmod-player.size-m .player-controls .controls-bottom-right .control-volume.active:active .icon, div.anzovinmod-player.size-m .player-controls .controls-bottom-right .control-volume.active .icon:active {
  background-position:-1052px -154px;
}
div.anzovinmod-player.size-s .player-controls .controls-bottom-right .control-volume .icon {
  width:35px;height:30px;
  background-position:-281px -542px;
  bottom:9px;left:17px;
}
div.anzovinmod-player.size-s .player-controls .controls-bottom-right .control-volume:hover .icon, div.anzovinmod-player.size-s .player-controls .controls-bottom-right .control-volume .icon:hover {
  background-position:-663px 0px;
}
div.anzovinmod-player.size-s .player-controls .controls-bottom-right .control-volume:active .icon, div.anzovinmod-player.size-s .player-controls .controls-bottom-right .control-volume .icon:active {
  background-position:-663px -35px;
}
div.anzovinmod-player.size-s .player-controls .controls-bottom-right .control-volume.active .icon {
  width:19px;height:30px;
  background-position:-322px -542px;
  left:17px;
}
div.anzovinmod-player.size-s .player-controls .controls-bottom-right .control-volume.active:hover .icon, div.anzovinmod-player.size-s .player-controls .controls-bottom-right .control-volume.active .icon:hover {
  background-position:-704px 0px;
}
div.anzovinmod-player.size-s .player-controls .controls-bottom-right .control-volume.active:active .icon, div.anzovinmod-player.size-s .player-controls .controls-bottom-right .control-volume.active .icon:active {
  background-position:-704px -35px;
}

/* VOLUME-SLIDER */
div.anzovinmod-player .player-controls .controls-bottom-right .control-volume-slider {
  width:0px;height:0px;
  display:none;
}
div.anzovinmod-player .player-controls .controls-bottom-right .control-volume-slider .rangeslider {
  width:0px;height:0px;
  background-image:url('../images/spritesheet-player.png');
  position:absolute;
  top:0px;left:0px;
  cursor:pointer;
}
div.anzovinmod-player .player-controls .controls-bottom-right .control-volume-slider .rangeslider .fill {
  width:0px;height:0px;
  background-image:url('../images/spritesheet-player.png');
  position:absolute;
  top:0px;left:0px;
  cursor:pointer;
}
div.anzovinmod-player .player-controls .controls-bottom-right .control-volume-slider .rangeslider .handle {
  width:0px;height:0px;
  background-image:url('../images/spritesheet-player.png');
  position:absolute;
  top:0px;left:0px;
  cursor:pointer;
}
div.anzovinmod-player .player-controls .controls-bottom-right .control-volume-slider .rangeslider .extraselect {
  width:0px;height:0px;
  position:absolute;
  top:0px;left:0px;
  cursor:pointer;
}
div.anzovinmod-player.mtl-started .player-controls .controls-bottom-right .control-volume-slider {
  display:block;
}
div.anzovinmod-player.is-mobile.mtl-started .player-controls .controls-bottom-right .control-volume-slider {
  display:none;
}
/* sizes */
div.anzovinmod-player.size-l .player-controls .controls-bottom-right .control-volume-slider {
  width:354px;height:100px;
  bottom:0px;right:0px;
}
div.anzovinmod-player.size-m .player-controls .controls-bottom-right .control-volume-slider {
  width:240px;height:70px;
  bottom:0px;right:0px;
}
div.anzovinmod-player.size-s .player-controls .controls-bottom-right .control-volume-slider {
  width:160px;height:48px;
  bottom:0px;right:0px;
}
div.anzovinmod-player.size-l .player-controls .controls-bottom-right .control-volume-slider .rangeslider {
  width:282px;height:27px;
  left:36px;top:36px;
  background-position:-1830px -339px;
}
div.anzovinmod-player.size-m .player-controls .controls-bottom-right .control-volume-slider .rangeslider {
  width:188px;height:18px;
  left:26px;top:26px;
  background-position:-1220px -118px;
}
div.anzovinmod-player.size-s .player-controls .controls-bottom-right .control-volume-slider .rangeslider {
  width:125px;height:12px;
  left:18px;top:18px;
  background-position:-819px -10px;
}
div.anzovinmod-player.size-l .player-controls .controls-bottom-right .control-volume-slider .rangeslider .fill {
  height:27px;
  background-position:-1830px -376px;
}
div.anzovinmod-player.size-m .player-controls .controls-bottom-right .control-volume-slider .rangeslider .fill {
  height:18px;
  background-position:-1221px -147px;
}
div.anzovinmod-player.size-s .player-controls .controls-bottom-right .control-volume-slider .rangeslider .fill {
  height:12px;
  background-position:-819px -26px;
}
div.anzovinmod-player.size-l .player-controls .controls-bottom-right .control-volume-slider .rangeslider .handle {
  width:37px;height:37px;
  background-position:-1781px -334px;
  top:-5px;
}
div.anzovinmod-player.size-m .player-controls .controls-bottom-right .control-volume-slider .rangeslider .handle {
  width:25px;height:24px;
  background-position:-1187px -115px;
  top:-3px;
}
div.anzovinmod-player.size-s .player-controls .controls-bottom-right .control-volume-slider .rangeslider .handle {
  width:16px;height:16px;
  background-position:-797px -8px;
  top:-2px;
}
div.anzovinmod-player.size-l .player-controls .controls-bottom-right .control-volume-slider .rangeslider .extraselect {
  width:354px;height:100px;
  top:-37px;left:-36px;
}
div.anzovinmod-player.size-m .player-controls .controls-bottom-right .control-volume-slider .rangeslider .extraselect {
  width:240px;height:70px;
  top:-26px;left:-26px;
}
div.anzovinmod-player.size-s .player-controls .controls-bottom-right .control-volume-slider .rangeslider .extraselect {
  width:161px;height:48px;
  top:-18px;left:-18px;
}

/* MAIN-BEGIN-PLAY */
div.anzovinmod-player .player-controls .controls-center .control-main-begin-play {
  width:0px;height:0px;
  z-index:109;
  background-image:url('../images/spritesheet-player.png');
  cursor:pointer;
  display:none;
}
div.anzovinmod-player .player-controls .controls-center .control-main-begin-play .icon {
  width:0px;height:0px;
  background-image:url('../images/spritesheet-player.png');
  cursor:pointer;
  position:absolute;
}
div.anzovinmod-player.mtl-loaded .player-controls .controls-center .control-main-begin-play {
  display:block;
}
div.anzovinmod-player.mtl-started .player-controls .controls-center .control-main-begin-play {
  display:none;
}
/* size */
div.anzovinmod-player.size-l .player-controls .controls-center .control-main-begin-play {
  width:399px;height:248px;
  background-position:-1844px -36px;
  left:-199px;top:-124px;
}
div.anzovinmod-player.size-l .player-controls .controls-center .control-main-begin-play:hover {
  background-position:-2531px -36px;
}
div.anzovinmod-player.size-l .player-controls .controls-center .control-main-begin-play:active {
  background-position:-2531px -296px;
}
div.anzovinmod-player.size-l .player-controls .controls-center .control-main-begin-play .icon {
  width:108px;height:135px;
  background-position:-954px -475px;
  left:145px;top:56px;
}
div.anzovinmod-player.size-l .player-controls .controls-center .control-main-begin-play .icon:hover, div.anzovinmod-player.size-l .player-controls .controls-center .control-main-begin-play:hover .icon {
  background-position:-380px -316px;
}
div.anzovinmod-player.size-l .player-controls .controls-center .control-main-begin-play .icon:active, div.anzovinmod-player.size-l .player-controls .controls-center .control-main-begin-play:active .icon {
  background-position:-954px -316px;
}
div.anzovinmod-player.size-m .player-controls .controls-center .control-main-begin-play {
  width:266px;height:165px;
  background-position:-1572px -77px;
  left:-133px;top:-82px;
}
div.anzovinmod-player.size-m .player-controls .controls-center .control-main-begin-play:hover {
  background-position:-2259px -77px;
}
div.anzovinmod-player.size-m .player-controls .controls-center .control-main-begin-play:active {
  background-position:-2259px -337px;
}
div.anzovinmod-player.size-m .player-controls .controls-center .control-main-begin-play .icon {
  width:72px;height:90px;
  background-position:-254px -621px;
  left:97px;top:37px;
}
div.anzovinmod-player.size-m .player-controls .controls-center .control-main-begin-play .icon:hover, div.anzovinmod-player.size-m .player-controls .controls-center .control-main-begin-play:hover .icon {
  background-position:-253px -102px;
}
div.anzovinmod-player.size-m .player-controls .controls-center .control-main-begin-play .icon:active, div.anzovinmod-player.size-m .player-controls .controls-center .control-main-begin-play:active .icon {
  background-position:-636px -102px;
}
div.anzovinmod-player.size-s .player-controls .controls-center .control-main-begin-play {
  width:177px;height:110px;
  background-position:-1099px -1px;
  left:-88px;top:-55px;
}
div.anzovinmod-player.size-s .player-controls .controls-center .control-main-begin-play:hover {
  background-position:-1284px -1px;
}
div.anzovinmod-player.size-s .player-controls .controls-center .control-main-begin-play:active {
  background-position:-1101px -174px;
}
div.anzovinmod-player.size-s .player-controls .controls-center .control-main-begin-play .icon {
  width:48px;height:60px;
  background-position:-60px -543px;
  left:64px;top:25px;
}
div.anzovinmod-player.size-s .player-controls .controls-center .control-main-begin-play .icon:hover, div.anzovinmod-player.size-s .player-controls .controls-center .control-main-begin-play:hover .icon {
  background-position:-169px -1px;
}
div.anzovinmod-player.size-s .player-controls .controls-center .control-main-begin-play .icon:active, div.anzovinmod-player.size-s .player-controls .controls-center .control-main-begin-play:active .icon {
  background-position:-420px 0px;
}

/* BACK */
div.anzovinmod-player .player-controls .controls-top-left .control-back {
  width:0px;height:0px;
  cursor:pointer;
  display:none;
}
div.anzovinmod-player .player-controls .controls-top-left .control-back .icon {
  width:0px;height:0px;
  background-image:url('../images/spritesheet-player.png');
  cursor:pointer;
  position:absolute;
}
div.anzovinmod-player.is-mobile-app.mtl-started .player-controls .controls-top-left .control-back {
  display:block;
}
/* sizes */
div.anzovinmod-player.size-l .player-controls .controls-top-left .control-back {
  top:0px;left:0px;
  width:210px;height:80px;
}
div.anzovinmod-player.size-m .player-controls .controls-top-left .control-back {
  top:0px;left:0px;
  width:210px;height:80px;
}
div.anzovinmod-player.size-s .player-controls .controls-top-left .control-back {
  top:0px;left:0px;
  width:160px;height:60px;
}
div.anzovinmod-player.size-l .player-controls .controls-top-left .control-back .icon {
  width:163px;height:64px;
  background-position:0px -101px;
  top:7px;left:24px;
}
div.anzovinmod-player.size-m .player-controls .controls-top-left .control-back .icon {
  width:163px;height:64px;
  background-position:0px -101px;
  top:7px;left:24px;
}
div.anzovinmod-player.size-s .player-controls .controls-top-left .control-back .icon {
  width:109px;height:42px;
  background-position:0px 0px;
  top:8px;left:25px;
}

/* BACK-EMPTY */
div.anzovinmod-player .player-controls .controls-top .control-back-empty {
  height:0px;
  position:relative;
  display:none;
}
div.anzovinmod-player.mtl-started .player-controls .controls-top .control-back-empty {
  display:block;
}
/* sizes */
div.anzovinmod-player.size-l .player-controls .controls-top .control-back-empty {
  height:80px;
  margin-left:0px;margin-right:212px;
}
div.anzovinmod-player.size-l.is-mobile-app .player-controls .controls-top .control-back-empty {
  margin-left:212px;margin-right:0px;
}
div.anzovinmod-player.size-m .player-controls .controls-top .control-back-empty {
  height:80px;
  margin-left:0px;margin-right:212px;
}
div.anzovinmod-player.size-m.is-mobile-app .player-controls .controls-top .control-back-empty {
  margin-left:212px;margin-right:0px;
}
div.anzovinmod-player.size-s .player-controls .controls-top .control-back-empty {
  height:60px;
  margin-left:0px;margin-right:162px;
}
div.anzovinmod-player.size-s.is-mobile-app .player-controls .controls-top .control-back-empty {
  margin-left:162px;margin-right:0px;
}

/* LOGIN */
div.anzovinmod-player .player-controls .controls-top-right .control-login {
  width:0px;height:0px;
  top:0px;right:0px;
  cursor:pointer;
  display:none;
}
div.anzovinmod-player .player-controls .controls-top-right .control-login .text {
  cursor:pointer;
  font-family:'Lato';
  font-weight:bold;
  text-align:center;
  color:#F2F2F2;
}
div.anzovinmod-player.mtl-started .player-controls .controls-top-right .control-login {
  display:block;
}
div.anzovinmod-player.is-mobile-app .player-controls .controls-top-right .control-login {
  display:none;
}
/* sizes */
div.anzovinmod-player.size-l .player-controls .controls-top-right .control-login {
  width:210px;height:80px;
}
div.anzovinmod-player.size-m .player-controls .controls-top-right .control-login {
  width:210px;height:80px;
}
div.anzovinmod-player.size-s .player-controls .controls-top-right .control-login {
  width:160px;height:60px;
}
div.anzovinmod-player.size-l .player-controls .controls-top-right .control-login .text {
  line-height:80px;
  font-size:34pt;
}
div.anzovinmod-player.size-m .player-controls .controls-top-right .control-login .text {
  line-height:80px;
  font-size:34pt;
}
div.anzovinmod-player.size-s .player-controls .controls-top-right .control-login .text {
  line-height:56px;
  font-size:26pt;
}

/* PAUSE */
div.anzovinmod-player .player-controls .controls-bottom-left .control-pause {
  width:0px;height:0px;
  cursor:pointer;
  display:none;
}
div.anzovinmod-player .player-controls .controls-bottom-left .control-pause .icon {
  width:0px;height:0px;
  background-image:url('../images/spritesheet-player.png');
  cursor:pointer;
  position:absolute;
}
div.anzovinmod-player.mtl-playing .player-controls .controls-bottom-left .control-pause {
  display:block;
}
/* sizes */
div.anzovinmod-player.size-l .player-controls .controls-bottom-left .control-pause {
  width:190px;height:100px;
  bottom:0px;left:0px;
}
div.anzovinmod-player.size-m .player-controls .controls-bottom-left .control-pause {
  width:140px;height:70px;
  bottom:0px;left:0px;
}
div.anzovinmod-player.size-s .player-controls .controls-bottom-left .control-pause {
  width:90px;height:48px;
  bottom:0px;left:0px;
}
div.anzovinmod-player.size-s.is-mobile .player-controls .controls-bottom-left .control-pause {
  width:120px;height:60px;
}
div.anzovinmod-player.size-l .player-controls .controls-bottom-left .control-pause .icon {
  width:54px;height:68px;
  background-position:-1142px -474px;
  bottom:16px;left:68px;
}
div.anzovinmod-player.size-l .player-controls .controls-bottom-left .control-pause:hover .icon, div.anzovinmod-player.size-l .player-controls .controls-bottom-left .control-pause .icon:hover {
  background-position:-568px -315px;
}
div.anzovinmod-player.size-l .player-controls .controls-bottom-left .control-pause:active .icon, div.anzovinmod-player.size-l .player-controls .controls-bottom-left .control-pause .icon:active {
  background-position:-1142px -315px;
}
div.anzovinmod-player.size-l .player-controls .controls-bottom-left .control-pause.active .icon {
  width:54px;height:68px;
  background-position:-1074px -474px;
  bottom:16px;left:68px;
}
div.anzovinmod-player.size-l .player-controls .controls-bottom-left .control-pause.active:hover .icon, div.anzovinmod-player.size-l .player-controls .controls-bottom-left .control-pause.active .icon:hover {
  background-position:-500px -316px;
}
div.anzovinmod-player.size-l .player-controls .controls-bottom-left .control-pause.active:active .icon, div.anzovinmod-player.size-l .player-controls .controls-bottom-left .control-pause.active .icon:active {
  background-position:-1074px -315px;
}
div.anzovinmod-player.size-m .player-controls .controls-bottom-left .control-pause .icon {
  width:36px;height:45px;
  background-position:-379px -621px;
  bottom:12px;left:52px;
}
div.anzovinmod-player.size-m .player-controls .controls-bottom-left .control-pause:hover .icon, div.anzovinmod-player.size-m .player-controls .controls-bottom-left .control-pause .icon:hover {
  background-position:-379px -102px;
}
div.anzovinmod-player.size-m .player-controls .controls-bottom-left .control-pause:active .icon, div.anzovinmod-player.size-m .player-controls .controls-bottom-left .control-pause .icon:active {
  background-position:-761px -102px;
}
div.anzovinmod-player.size-m .player-controls .controls-bottom-left .control-pause.active .icon {
  width:36px;height:46px;
  background-position:-334px -621px;
  bottom:12px;left:52px;
}
div.anzovinmod-player.size-m .player-controls .controls-bottom-left .control-pause.active:hover .icon, div.anzovinmod-player.size-m .player-controls .controls-bottom-left .control-pause.active .icon:hover {
  background-position:-334px -102px;
}
div.anzovinmod-player.size-m .player-controls .controls-bottom-left .control-pause.active:active .icon, div.anzovinmod-player.size-m .player-controls .controls-bottom-left .control-pause.active .icon:active {
  background-position:-716px -102px;
}
div.anzovinmod-player.size-s .player-controls .controls-bottom-left .control-pause .icon {
  width:24px;height:30px;
  background-position:-143px -543px;
  bottom:9px;left:33px;
}
div.anzovinmod-player.size-s.is-mobile .player-controls .controls-bottom-left .control-pause .icon {
  bottom:15px;left:48px;
}
div.anzovinmod-player.size-s .player-controls .controls-bottom-left .control-pause:hover .icon, div.anzovinmod-player.size-s .player-controls .controls-bottom-left .control-pause .icon:hover {
  background-position:-252px -1px;
}
div.anzovinmod-player.size-s .player-controls .controls-bottom-left .control-pause:active .icon, div.anzovinmod-player.size-s .player-controls .controls-bottom-left .control-pause .icon:active {
  background-position:-507px -1px;
}
div.anzovinmod-player.size-s .player-controls .controls-bottom-left .control-pause.active .icon {
  width:24px;height:30px;
  background-position:-113px -543px;
  bottom:9px;left:33px;
}
div.anzovinmod-player.size-s.is-mobile .player-controls .controls-bottom-left .control-pause.active .icon {
  bottom:15px;left:48px;
}
div.anzovinmod-player.size-s .player-controls .controls-bottom-left .control-pause.active:hover .icon, div.anzovinmod-player.size-s .player-controls .controls-bottom-left .control-pause.active .icon:hover {
  background-position:-222px -1px;
}
div.anzovinmod-player.size-s .player-controls .controls-bottom-left .control-pause.active:active .icon, div.anzovinmod-player.size-s .player-controls .controls-bottom-left .control-pause.active .icon:active {
  background-position:-477px -1px;
}

/* MAIN-PAUSE */
div.anzovinmod-player .player-controls .controls-center .control-main-pause {
  width:0px;height:0px;
  z-index:109;
  display:none;
  background-image:url('../images/spritesheet-player.png');
  cursor:pointer;
}
div.anzovinmod-player .player-controls .controls-center .control-main-pause .icon {
  width:0px;height:0px;
  background-image:url('../images/spritesheet-player.png');
  cursor:pointer;
  position:absolute;
}
div.anzovinmod-player.mtl-playing .player-controls .controls-center .control-main-pause.active {
  display:block;
}
/* size */
div.anzovinmod-player.size-l .player-controls .controls-center .control-main-pause {
  width:399px;height:248px;
  background-position:-1844px -36px;
  left:-199px;top:-124px;
}
div.anzovinmod-player.size-l .player-controls .controls-center .control-main-pause:hover {
  background-position:-2531px -36px;
}
div.anzovinmod-player.size-l .player-controls .controls-center .control-main-pause:active {
  background-position:-2531px -296px;
}
div.anzovinmod-player.size-l .player-controls .controls-center .control-main-pause .icon {
  width:108px;height:135px;
  background-position:-954px -475px;
  left:145px;top:56px;
}
div.anzovinmod-player.size-l .player-controls .controls-center .control-main-pause .icon:hover, div.anzovinmod-player.size-l .player-controls .controls-center .control-main-pause:hover .icon {
  background-position:-380px -316px;
}
div.anzovinmod-player.size-l .player-controls .controls-center .control-main-pause .icon:active, div.anzovinmod-player.size-l .player-controls .controls-center .control-main-pause:active .icon {
  background-position:-954px -316px;
}
div.anzovinmod-player.size-m .player-controls .controls-center .control-main-pause {
  width:266px;height:165px;
  background-position:-1572px -77px;
  left:-133px;top:-82px;
}
div.anzovinmod-player.size-m .player-controls .controls-center .control-main-pause:hover {
  background-position:-2259px -77px;
}
div.anzovinmod-player.size-m .player-controls .controls-center .control-main-pause:active {
  background-position:-2259px -337px;
}
div.anzovinmod-player.size-m .player-controls .controls-center .control-main-pause .icon {
  width:72px;height:90px;
  background-position:-254px -621px;
  left:97px;top:37px;
}
div.anzovinmod-player.size-m .player-controls .controls-center .control-main-pause .icon:hover, div.anzovinmod-player.size-m .player-controls .controls-center .control-main-pause:hover .icon {
  background-position:-253px -102px;
}
div.anzovinmod-player.size-m .player-controls .controls-center .control-main-pause .icon:active, div.anzovinmod-player.size-m .player-controls .controls-center .control-main-pause:active .icon {
  background-position:-636px -102px;
}
div.anzovinmod-player.size-s .player-controls .controls-center .control-main-pause {
  width:177px;height:110px;
  background-position:-1099px -1px;
  left:-88px;top:-55px;
}
div.anzovinmod-player.size-s .player-controls .controls-center .control-main-pause:hover {
  background-position:-1284px -1px;
}
div.anzovinmod-player.size-s .player-controls .controls-center .control-main-pause:active {
  background-position:-1101px -174px;
}
div.anzovinmod-player.size-s .player-controls .controls-center .control-main-pause .icon {
  width:48px;height:60px;
  background-position:-60px -543px;
  left:64px;top:25px;
}
div.anzovinmod-player.size-s .player-controls .controls-center .control-main-pause .icon:hover, div.anzovinmod-player.size-s .player-controls .controls-center .control-main-pause:hover .icon {
  background-position:-169px -1px;
}
div.anzovinmod-player.size-s .player-controls .controls-center .control-main-pause .icon:active, div.anzovinmod-player.size-s .player-controls .controls-center .control-main-pause:active .icon {
  background-position:-420px 0px;
}

/* MAIN-PAUSE-FRAME */
div.anzovinmod-player .player-controls .frame .control-main-pause-frame {
  /* background-image transparent png required for IE to allow clicking */
  background-image:url('../images/1x1.png');
  position:absolute;
  width:100%;height:100%;
  display:none;
  z-index:108;
}
div.anzovinmod-player.mtl-playing .player-controls .frame .control-main-pause-frame.active {
  display:block;
}

/* REPLAY */
div.anzovinmod-player .player-controls .controls-bottom-left .control-replay {
  width:0px;height:0px;
  cursor:pointer;
  display:none;
}
div.anzovinmod-player .player-controls .controls-bottom-left .control-replay .icon {
  width:0px;height:0px;
  background-image:url('../images/spritesheet-player.png');
  cursor:pointer;
  position:absolute;
}
div.anzovinmod-player.mtl-ended .player-controls .controls-bottom-left .control-replay {
  display:block;
}
/* sizes */
div.anzovinmod-player.size-l .player-controls .controls-bottom-left .control-replay {
  width:190px;height:100px;
  bottom:0px;left:0px;
}
div.anzovinmod-player.size-m .player-controls .controls-bottom-left .control-replay {
  width:140px;height:70px;
  bottom:0px;left:0px;
}
div.anzovinmod-player.size-s .player-controls .controls-bottom-left .control-replay {
  width:90px;height:48px;
  bottom:0px;left:0px;
}
div.anzovinmod-player.size-s.is-mobile .player-controls .controls-bottom-left .control-replay {
  width:120px;height:60px;
}
div.anzovinmod-player.size-l .player-controls .controls-bottom-left .control-replay .icon {
  width:54px;height:64px;
  background-position:-1419px -476px;
  bottom:18px;left:68px;
}
div.anzovinmod-player.size-l .player-controls .controls-bottom-left .control-replay:hover .icon, div.anzovinmod-player.size-l .player-controls .controls-bottom-left .control-replay .icon:hover {
  background-position:-1419px -318px;
}
div.anzovinmod-player.size-l .player-controls .controls-bottom-left .control-replay:active .icon, div.anzovinmod-player.size-l .player-controls .controls-bottom-left .control-replay .icon:active {
  background-position:-1419px -394px;
}
div.anzovinmod-player.size-m .player-controls .controls-bottom-left .control-replay .icon {
  width:36px;height:42px;
  background-position:-543px -623px;
  bottom:13px;left:52px;
}
div.anzovinmod-player.size-m .player-controls .controls-bottom-left .control-replay:hover .icon, div.anzovinmod-player.size-m .player-controls .controls-bottom-left .control-replay .icon:hover {
  background-position:-946px -105px;
}
div.anzovinmod-player.size-m .player-controls .controls-bottom-left .control-replay:active .icon, div.anzovinmod-player.size-m .player-controls .controls-bottom-left .control-replay .icon:active {
  background-position:-946px -156px;
}
div.anzovinmod-player.size-s .player-controls .controls-bottom-left .control-replay .icon {
  width:24px;height:28px;
  background-position:-249px -542px;
  bottom:10px;left:33px;
}
div.anzovinmod-player.size-s.is-mobile .player-controls .controls-bottom-left .control-replay .icon {
  bottom:16px;left:48px;
}
div.anzovinmod-player.size-s .player-controls .controls-bottom-left .control-replay:hover .icon, div.anzovinmod-player.size-s .player-controls .controls-bottom-left .control-replay .icon:hover {
  background-position:-631px 0px;
}
div.anzovinmod-player.size-s .player-controls .controls-bottom-left .control-replay:active .icon, div.anzovinmod-player.size-s .player-controls .controls-bottom-left .control-replay .icon:active {
  background-position:-631px -35px;
}

/* NODENAV-BACK */
div.anzovinmod-player .player-controls .controls-bottom-left .control-nodenav-back {
  width:0px;height:0px;
  cursor:pointer;
  display:none;
}
div.anzovinmod-player .player-controls .controls-bottom-left .control-nodenav-back .icon {
  width:0px;height:0px;
  background-image:url('../images/spritesheet-player.png');
  cursor:pointer;
  position:absolute;
}
div.anzovinmod-player.mtl-started .player-controls .controls-bottom-left .control-nodenav-back {
  display:block;
}
/* sizes */
div.anzovinmod-player.size-l .player-controls .controls-bottom-left .control-nodenav-back {
  bottom:0px;left:192px;
  width:150px;height:100px;
}
div.anzovinmod-player.size-m .player-controls .controls-bottom-left .control-nodenav-back {
  bottom:0px;left:142px;
  width:100px;height:70px;
}
div.anzovinmod-player.size-s .player-controls .controls-bottom-left .control-nodenav-back {
  bottom:0px;left:92px;
  width:70px;height:48px;
}
div.anzovinmod-player.size-s.is-mobile .player-controls .controls-bottom-left .control-nodenav-back {
  left:122px;
  width:90px;height:60px;
}
div.anzovinmod-player.size-l .player-controls .controls-bottom-left .control-nodenav-back .icon {
  width:68px;height:68px;
  background-position:-1209px -474px;
  bottom:16px;left:41px;
}
div.anzovinmod-player.size-l .player-controls .controls-bottom-left .control-nodenav-back:hover .icon, div.anzovinmod-player.size-l .player-controls .controls-bottom-left .control-nodenav-back .icon:hover {
  background-position:-635px -315px;
}
div.anzovinmod-player.size-l .player-controls .controls-bottom-left .control-nodenav-back:active .icon, div.anzovinmod-player.size-l .player-controls .controls-bottom-left .control-nodenav-back .icon:active {
  background-position:-1209px -315px;
}
div.anzovinmod-player.size-m .player-controls .controls-bottom-left .control-nodenav-back .icon {
  width:45px;height:45px;
  background-position:-424px -621px;
  bottom:12px;left:27px;
}
div.anzovinmod-player.size-m .player-controls .controls-bottom-left .control-nodenav-back:hover .icon, div.anzovinmod-player.size-m .player-controls .controls-bottom-left .control-nodenav-back .icon:hover {
  background-position:-424px -102px;
}
div.anzovinmod-player.size-m .player-controls .controls-bottom-left .control-nodenav-back:active .icon, div.anzovinmod-player.size-m .player-controls .controls-bottom-left .control-nodenav-back .icon:active {
  background-position:-806px -102px;
}
div.anzovinmod-player.size-s .player-controls .controls-bottom-left .control-nodenav-back .icon {
  width:31px;height:31px;
  background-position:-173px -542px;
  bottom:9px;left:19px;
}
div.anzovinmod-player.size-s.is-mobile .player-controls .controls-bottom-left .control-nodenav-back .icon {
  bottom:15px;left:29px;
}
div.anzovinmod-player.size-s .player-controls .controls-bottom-left .control-nodenav-back:hover .icon, div.anzovinmod-player.size-s .player-controls .controls-bottom-left .control-nodenav-back .icon:hover {
  background-position:-282px 0px;
}
div.anzovinmod-player.size-s .player-controls .controls-bottom-left .control-nodenav-back:active .icon, div.anzovinmod-player.size-s .player-controls .controls-bottom-left .control-nodenav-back .icon:active {
  background-position:-537px 0px;
}

/* NODENAV-FORWARD */
div.anzovinmod-player .player-controls .controls-bottom-left .control-nodenav-forward {
  width:0px;height:0px;
  cursor:pointer;
  display:none;
}
div.anzovinmod-player .player-controls .controls-bottom-left .control-nodenav-forward .icon {
  width:0px;height:0px;
  background-image:url('../images/spritesheet-player.png');
  cursor:pointer;
  position:absolute;
}
div.anzovinmod-player.mtl-started .player-controls .controls-bottom-left .control-nodenav-forward {
  display:block;
}
/* sizes */
div.anzovinmod-player.size-l .player-controls .controls-bottom-left .control-nodenav-forward {
  bottom:0px;left:344px;
  width:150px;height:100px;
}
div.anzovinmod-player.size-m .player-controls .controls-bottom-left .control-nodenav-forward {
  bottom:0px;left:244px;
  width:100px;height:70px;
}
div.anzovinmod-player.size-s .player-controls .controls-bottom-left .control-nodenav-forward {
  bottom:0px;left:164px;
  width:70px;height:48px;
}
div.anzovinmod-player.size-s.is-mobile .player-controls .controls-bottom-left .control-nodenav-forward {
  left:214px;
  width:90px;height:60px;
}
div.anzovinmod-player.size-l .player-controls .controls-bottom-left .control-nodenav-forward .icon {
  width:68px;height:68px;
  background-position:-1290px -474px;
  bottom:16px;left:41px;
}
div.anzovinmod-player.size-l .player-controls .controls-bottom-left .control-nodenav-forward:hover .icon, div.anzovinmod-player.size-l .player-controls .controls-bottom-left .control-nodenav-forward .icon:hover {
  background-position:-716px -315px;
}
div.anzovinmod-player.size-l .player-controls .controls-bottom-left .control-nodenav-forward:active .icon, div.anzovinmod-player.size-l .player-controls .controls-bottom-left .control-nodenav-forward .icon:active {
  background-position:-1290px -315px;
}
div.anzovinmod-player.size-m .player-controls .controls-bottom-left .control-nodenav-forward .icon {
  width:45px;height:45px;
  background-position:-478px -621px;
  bottom:12px;left:27px;
}
div.anzovinmod-player.size-m .player-controls .controls-bottom-left .control-nodenav-forward:hover .icon, div.anzovinmod-player.size-m .player-controls .controls-bottom-left .control-nodenav-forward .icon:hover {
  background-position:-478px -102px;
}
div.anzovinmod-player.size-m .player-controls .controls-bottom-left .control-nodenav-forward:active .icon, div.anzovinmod-player.size-m .player-controls .controls-bottom-left .control-nodenav-forward .icon:active {
  background-position:-860px -102px;
}
div.anzovinmod-player.size-s .player-controls .controls-bottom-left .control-nodenav-forward .icon {
  width:31px;height:31px;
  background-position:-209px -542px;
  bottom:9px;left:19px;
}
div.anzovinmod-player.size-s.is-mobile .player-controls .controls-bottom-left .control-nodenav-forward .icon {
  bottom:15px;left:29px;
}
div.anzovinmod-player.size-s .player-controls .controls-bottom-left .control-nodenav-forward:hover .icon, div.anzovinmod-player.size-s .player-controls .controls-bottom-left .control-nodenav-forward .icon:hover {
  background-position:-318px 0px;
}
div.anzovinmod-player.size-s .player-controls .controls-bottom-left .control-nodenav-forward:active .icon, div.anzovinmod-player.size-s .player-controls .controls-bottom-left .control-nodenav-forward .icon:active {
  background-position:-573px 0px;
}

/* JUMP CONTROLS */
div.anzovinmod-player .player-controls .controls-bottom .jumpcontrols {
  position:relative;
  display:none;
  z-index:111;
}
div.anzovinmod-player.mtl-started .player-controls .controls-bottom .jumpcontrols {
  display:block;
}
div.anzovinmod-player .player-controls .controls-bottom .jumpcontrols .jumpcontrols-wrapped {
  width:100%;
  position:relative;
  z-index:auto;
}
div.anzovinmod-player .player-controls .controls .jumpcontrols .path-left {
  width:0px;height:0px;
  background-image:url('../images/spritesheet-player.png');
  position:absolute;
  top:0px;
}
div.anzovinmod-player .player-controls .controls .jumpcontrols .path-center {
  width:100%;height:0px;
  background-image:url('../images/1x1-E9E9E9-1.0.png');
  position:absolute;
  top:0px;left:0px;
}
div.anzovinmod-player .player-controls .controls .jumpcontrols .path-right {
  width:0px;height:0px;
  background-image:url('../images/spritesheet-player.png');
  position:absolute;
  top:0px;
}
div.anzovinmod-player .player-controls .controls .jumpcontrols .overpath-left {
  width:0px;height:0px;
  background-image:url('../images/spritesheet-player.png');
  position:absolute;
  top:0px;
  z-index:109;
}
div.anzovinmod-player .player-controls .controls .jumpcontrols .overpath-center {
  width:0px;height:0px;
  background-image:url('../images/1x1-005ABC-0.6.png');
  position:absolute;
  top:0px;left:0px;
  z-index:109;
}
div.anzovinmod-player .player-controls .controls .jumpcontrols .overpath-right {
  width:0px;height:0px;
  background-image:url('../images/spritesheet-player.png');
  position:absolute;
  top:0px;left:0%;
  z-index:109;
}
div.anzovinmod-player .player-controls .controls .jumpcontrols .button-wrapper {
  position:absolute;
  width:100%;
  z-index:auto;
}
div.anzovinmod-player .player-controls .controls .jumpcontrols .button-wrapper .buttons {
  position:relative;
  z-index:auto;
}
div.anzovinmod-player .player-controls .controls .jumpcontrols .button-wrapper .buttons .button {
  width:0px;height:0px;
  position:absolute;
  z-index:auto;
}
div.anzovinmod-player .player-controls .controls .jumpcontrols .button-wrapper .buttons .button .button-circle {
  width:100%;height:100%;
  background-image:url('../images/spritesheet-player.png');
  position:absolute;
  top:0px;left:0px;
  z-index:108;
}
div.anzovinmod-player .player-controls .controls .jumpcontrols .button-wrapper .buttons .button .button-click-area {
  width:100%;height:100%;
  cursor:pointer;
  position:absolute;
  top:0px;left:0px;
  z-index:110;
}
div.anzovinmod-player.is-mobile .player-controls .controls .jumpcontrols .button-wrapper .buttons .button .button-click-area {
  display:none;
}
/* sizes */
div.anzovinmod-player.size-l .player-controls .controls-bottom .jumpcontrols {
  bottom:100px;height:100px;
  margin-left:496px;margin-right:508px;
  padding-left:35px;padding-right:35px;
}
div.anzovinmod-player.size-l.is-mobile .player-controls .controls-bottom .jumpcontrols {
  margin-right:0px;
}
div.anzovinmod-player.size-m .player-controls .controls-bottom .jumpcontrols {
  bottom:70px;height:70px;
  margin-left:346px;margin-right:344px;
  padding-left:30px;padding-right:30px;
}
div.anzovinmod-player.size-m.is-mobile .player-controls .controls-bottom .jumpcontrols {
  margin-right:0px;
}
div.anzovinmod-player.size-s .player-controls .controls-bottom .jumpcontrols {
  bottom:48px;height:48px;
  margin-left:236px;margin-right:234px;
  padding-left:25px;padding-right:25px;
}
div.anzovinmod-player.size-s.is-mobile .player-controls .controls-bottom .jumpcontrols {
  bottom:60px;height:60px;
  margin-left:306px;margin-right:0px;
  padding-left:30px;padding-right:30px;
}
div.anzovinmod-player.size-l .player-controls .controls-bottom .jumpcontrols .jumpcontrols-wrapped {
  top:36px;
}
div.anzovinmod-player.size-m .player-controls .controls-bottom .jumpcontrols .jumpcontrols-wrapped {
  top:26px;
}
div.anzovinmod-player.size-s .player-controls .controls-bottom .jumpcontrols .jumpcontrols-wrapped {
  top:18px;
}
div.anzovinmod-player.size-s.is-mobile .player-controls .controls-bottom .jumpcontrols .jumpcontrols-wrapped {
  top:24px;
}
div.anzovinmod-player.size-l .player-controls .controls .jumpcontrols .button-wrapper {
  left:-9px;
}
div.anzovinmod-player.size-m .player-controls .controls .jumpcontrols .button-wrapper {
  left:-6px
}
div.anzovinmod-player.size-s .player-controls .controls .jumpcontrols .button-wrapper {
  left:-4px;
}
div.anzovinmod-player.size-l .player-controls .controls .jumpcontrols .button-wrapper .buttons .button {
  width:19px;height:19px;
  top:4px;
}
div.anzovinmod-player.size-l .player-controls .controls .jumpcontrols .button-wrapper .buttons .button .button-circle {
  background-position:-1396px -322px;
}
div.anzovinmod-player.size-l .player-controls .controls .jumpcontrols .button-wrapper .buttons .button.active .button-circle {
  background-position:-1366px -322px;
}
div.anzovinmod-player.size-l .player-controls .controls .jumpcontrols .button-wrapper .buttons .button .button-click-area {
  width:19px;height:19px;
}
div.anzovinmod-player.size-m .player-controls .controls .jumpcontrols .button-wrapper .buttons .button {
  width:12px;height:12px;
  top:3px;
}
div.anzovinmod-player.size-m .player-controls .controls .jumpcontrols .button-wrapper .buttons .button .button-circle {
  background-position:-931px -107px;
}
div.anzovinmod-player.size-m .player-controls .controls .jumpcontrols .button-wrapper .buttons .button.active .button-circle {
  background-position:-911px -107px;
}
div.anzovinmod-player.size-m .player-controls .controls .jumpcontrols .button-wrapper .buttons .button .button-click-area {
  width:12px;height:12px;
}
div.anzovinmod-player.size-s .player-controls .controls .jumpcontrols .button-wrapper .buttons .button {
  width:8px;height:8px;
  top:2px;
}
div.anzovinmod-player.size-s .player-controls .controls .jumpcontrols .button-wrapper .buttons .button .button-circle {
  background-position:-621px -4px;
}
div.anzovinmod-player.size-s .player-controls .controls .jumpcontrols .button-wrapper .buttons .button.active .button-circle {
  background-position:-607px -4px;
}
div.anzovinmod-player.size-s .player-controls .controls .jumpcontrols .button-wrapper .buttons .button .button-click-area {
  width:8px;height:8px;
}
div.anzovinmod-player.size-l .player-controls .controls .jumpcontrols .path-left {
  width:13px;height:27px;
  background-position:-5px -498px;
  left:-13px;
}
div.anzovinmod-player.size-l .player-controls .controls .jumpcontrols .path-center {
  height:27px;
}
div.anzovinmod-player.size-l .player-controls .controls .jumpcontrols .path-right {
  width:13px;height:27px;
  background-position:-101px -498px;
  right:-13px;
}
div.anzovinmod-player.size-l .player-controls .controls .jumpcontrols .overpath-left {
  width:13px;height:27px;
  background-position:-5px -463px;
  left:-13px;
}
div.anzovinmod-player.size-l .player-controls .controls .jumpcontrols .overpath-center {
  height:27px;
}
div.anzovinmod-player.size-l .player-controls .controls .jumpcontrols .overpath-right {
  width:13px;height:27px;
  background-position:-101px -463px;
}
div.anzovinmod-player.size-m .player-controls .controls .jumpcontrols .path-left {
  width:8px;height:18px;
  background-position:-3px -224px;
  left:-8px;
}
div.anzovinmod-player.size-m .player-controls .controls .jumpcontrols .path-center {
  height:18px;
}
div.anzovinmod-player.size-m .player-controls .controls .jumpcontrols .path-right {
  width:8px;height:18px;
  background-position:-106px -224px;
  right:-8px;
}
div.anzovinmod-player.size-m .player-controls .controls .jumpcontrols .overpath-left {
  width:8px;height:18px;
  background-position:-3px -201px;
  left:-8px;
}
div.anzovinmod-player.size-m .player-controls .controls .jumpcontrols .overpath-center {
  height:18px;
}
div.anzovinmod-player.size-m .player-controls .controls .jumpcontrols .overpath-right {
  width:8px;height:18px;
  background-position:-106px -201px;
}
div.anzovinmod-player.size-s .player-controls .controls .jumpcontrols .path-left {
  width:5px;height:12px;
  background-position:-2px -82px;
  left:-5px;
}
div.anzovinmod-player.size-s .player-controls .controls .jumpcontrols .path-center {
  height:12px;
}
div.anzovinmod-player.size-s .player-controls .controls .jumpcontrols .path-right {
  width:5px;height:12px;
  background-position:-109px -82px;
  right:-5px;
}
div.anzovinmod-player.size-s .player-controls .controls .jumpcontrols .overpath-left {
  width:5px;height:12px;
  background-position:-2px -67px;
  left:-5px;
}
div.anzovinmod-player.size-s .player-controls .controls .jumpcontrols .overpath-center {
  height:12px;
}
div.anzovinmod-player.size-s .player-controls .controls .jumpcontrols .overpath-right {
  width:5px;height:12px;
  background-position:-109px -67px;
}

/* LOGIN BUTTON OVERLAY */
div.anzovinmod-player .player-controls .frame .control-loading-login {
  width:0px;height:0px;
  background-image:url('../images/1x1.png');
  position:absolute;
  cursor:pointer;
  z-index:109;
}
div.anzovinmod-player.mtl-started .player-controls .frame .control-loading-login {
  display:none;
}
