<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="ImagesPath" value="/Images/" />
    <add key="StorageAccountName_" value="reydavid" />
    <add key="StorageAccountName" value="anzovinclearcost" />
    <add key="StorageAccountKey_" value="TOXFUQFICf02+MTzTuXhdQf7QzV3oqd02Nm5KxqaPPnJFkcbWIOFCMCP9XV1ouQl58CO4aRFoafAgIFcnS/ULw==" />
    <add key="StorageAccountKey" value="yF70vKqhAWJ/VFJy4JfecToCx7Ys9kOsKfnglrW/DlvQlXS+EHViYwpi+xv6zlv5J1YhtWn9lOpZecx4LmtUJg==" />
    <add key="PublicStorageContainer_" value="catvideos" />
    <add key="PublicStorageContainer" value="pubvideos" />
    <add key="PublicStorageContainerUrl_" value="https://reydavid.blob.core.windows.net/catvideos/" />
    <add key="PublicStorageContainerUrl" value="https://anzovinclearcost.blob.core.windows.net/pubvideos/" />
    <add key="PrivateStorageContainer_" value="privatevideos" />
    <add key="PrivateStorageContainer" value="videos" />
    <add key="PrivateStorageContainerUrl_" value="https://reydavid.blob.core.windows.net/privatevideos/" />
    <add key="PrivateStorageContainerUrl" value="https://anzovinclearcost.blob.core.windows.net/videos/" />
    <add key="PosterName" value="CuteCate.png" />
    <add key="PosterUrl" value="https://reydavid.blob.core.windows.net/catvideos/CuteCat.png" />
    <add key="IntroductoryVideoFileId_" value="Chopsticks%20Cat%20360.mp4" />
    <add key="IntroductoryVideoFileId" value="testvideo.mp4" />
    <add key="ViewWindowInMinutes" value="5" />
    <!--<add key="APIBaseAddress" value="https://dwapi.clearcosthealth.com" />-->
    <add key="APIBaseAddress" value="http://localhost:8083" />
    <add key="AnzovinHost" value="lawapi.clearcosthealth.com" />
    <add key="APIClientKey_" value="39E4A8D6-DE1B-4671-95BC-EC39DA29070B" />
    <add key="APIClientKey" value="DB366C62-88B6-402D-BCB7-E3FC384776E1" />
    <add key="HandshakeId_" value="8A09F40C-3891-4857-B008-0B3C945D849C" />
    <add key="HandshakeId" value="182E533E-4488-4917-83B1-DB112DA71739" />
    <add key="DefaultEmployerId" value="11" />
    <add key="DefaultVideoCampaignMemberId" value="C0DCD253-BC9E-449C-9EB6-0C61F570D68D" />
    <add key="LibraryPath" value="../../libs/" />
    <add key="SourcePath" value="../../source/" />
    <add key="SecretKey" value="ca17f083-742c-412c-8feb-42124ae38aa6" />
    <add key="AllowedOrigins" value="*|http://cchdemo.anzovin.com:3000" />
    <add key="AnzovinHandshakeId" value="182E533E-4488-4917-83B1-DB112DA71739" />
    <add key="AnzovinApiKey" value="DB366C62-88B6-402D-BCB7-E3FC384776E1" />
    <add key="ClearCost.TraceEnabled" value="true" />
  </appSettings>
  <connectionStrings>
    <clear />
    <!-- Development Server  -->
    <add connectionString="Data Source=kermitdb.cch.clearcosthealth.com,49155;Initial Catalog=CCH_FrontEnd2;Integrated Security=true;" name="CCH_FrontEnd" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.net>
    <settings>
      <httpWebRequest useUnsafeHeaderParsing="true" />
    </settings>
  </system.net>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5.1" />
      </system.Web>
  -->
  <system.web>
    <customErrors mode="Off" />
    <compilation debug="true" targetFramework="4.6.1" />
    <httpRuntime targetFramework="4.6.1" relaxedUrlToFileSystemMapping="true" maxUrlLength="65536" maxQueryStringLength="32768" />
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Extensibility.Web.RequestTracking.WebRequestTrackingModule, Microsoft.ApplicationInsights.Extensibility.Web" />
    </httpModules>
  </system.web>
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxQueryString="32768" />
      </requestFiltering>
    </security>
    <validation validateIntegratedModeConfiguration="false" />
    <modules>
      <remove name="ApplicationInsightsWebTracking" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Extensibility.Web.RequestTracking.WebRequestTrackingModule, Microsoft.ApplicationInsights.Extensibility.Web" preCondition="managedHandler" />
    </modules>
    <staticContent>
      <remove fileExtension=".ogg" />
      <remove fileExtension=".otf" />
      <mimeMap fileExtension=".ogg" mimeType="audio/ogg" />
      <mimeMap fileExtension=".otf" mimeType="font/otf" />
    </staticContent>
    
  <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers></system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.2.0" newVersion="5.2.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.2.0" newVersion="5.2.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.6.2.0" newVersion="5.6.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Services.Client" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.6.2.0" newVersion="5.6.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.6.2.0" newVersion="5.6.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>