<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="APIBaseAddress" value="https://wapi.clearcosthealth.com"
         xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="AnzovinHost" value="wapi.clearcosthealth.com"
         xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>
  <connectionStrings>
    <add name="CCH_FrontEnd"
         connectionString="Data Source=samb01vmd02c.cch.clearcosthealth.com,49510;Initial Catalog=CCH_FrontEnd2;Integrated Security=true;"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>
  <system.web>
    <customErrors mode="RemoteOnly" xdt:Transform="SetAttributes" />
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
</configuration>