<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime> 
    <connectionStrings>
      <!-- local is dev -->
      <add name="local" connectionString="Server=10.100.66.11,49951;Database=CCH_FrontEnd2;User Id=samb01sa;Password=de2Aiyoomie5ahw6;" providerName="System.Data.SqlClient"/>
      <!-- Development Server -->
      <add name="dev" connectionString="Server=10.100.66.11,49951;Database=CCH_FrontEnd2;User Id=samb01sa;Password=de2Aiyoomie5ahw6;" providerName="System.Data.SqlClient"/>
      <!-- New Alpha -->
      <add name="alpha" connectionString="Server=10.100.67.11,49245;Database=CCH_FrontEnd2;User Id=samb01sa;Password=de2Aiyoomie5ahw6;" providerName="System.Data.SqlClient"/>
      <!-- Alpha02 SERVER -->
      <add name="alpha02" connectionString="Server=10.100.67.11,49435,11433;Database=CCH_FrontEnd2;User Id=samb01sa;Password=de2Aiyoomie5ahw6;" providerName="System.Data.SqlClient"/>
      <!-- Live Server -->
      <add name="live" connectionString="Server=10.100.64.12,49344;Database=CCH_FrontEnd2;User Id=samb01sa;Password=rahf6xeeSox3;" providerName="System.Data.SqlClient"/>
      <!-- Processing SERVER 
    <add connectionString="Server=samb01vmd01c.cch.clearcosthealth.com,49312;Database=CCH_FrontEnd2;User Id=samb01sa;Password=de2Aiyoomie5ahw6;" name="CCH_FrontEnd" providerName="System.Data.SqlClient"/>
    <add connectionString="Server=samb01vmd01c.cch.clearcosthealth.com,49312;Database=CCH_HealthGrades;User Id=samb01sa;Password=de2Aiyoomie5ahw6;" name="CCH_HealthGrades" providerName="System.Data.SqlClient"/>
    <add connectionString="Server=samb01vmd01c.cch.clearcosthealth.com,49312;Database=CCH_Demo;User Id=samb01sa;Password=de2Aiyoomie5ahw6;" name="CCH_DemoConnectionString" providerName="System.Data.SqlClient"/>
    <add connectionString="Server=samb01vmd01c.cch.clearcosthealth.com,49312;Database=CCH_ReferenceData;User Id=samb01sa;Password=de2Aiyoomie5ahw6;" name="CCH_Reference" providerName="System.Data.SqlClient"/>
    <add connectionString="Server=samb01vmd01c.cch.clearcosthealth.com,49312;Database=CCH_FrontEnd2;User Id=samb01sa;Password=de2Aiyoomie5ahw6;" name="LocalSqlServer"/> -->

      <!-- Development Server 
    <add connectionString="Server=samb01vmd01c.cch.clearcosthealth.com\dev01,49312;Database=CCH_FrontEnd2;User Id=samb01sa;Password=de2Aiyoomie5ahw6;" name="CCH_FrontEnd" providerName="System.Data.SqlClient" />
    <add connectionString="Server=samb01vmd01c.cch.clearcosthealth.com\dev01,49312;Database=CCH_HealthGrades;User Id=samb01sa;Password=de2Aiyoomie5ahw6;" name="CCH_HealthGrades" providerName="System.Data.SqlClient" />
    <add connectionString="Server=samb01vmd01c.cch.clearcosthealth.com\dev01,49312;Database=CCH_Demo;User Id=samb01sa;Password=de2Aiyoomie5ahw6;" name="CCH_DemoConnectionString" providerName="System.Data.SqlClient" />
    <add connectionString="Server=samb01vmd01c.cch.clearcosthealth.com\dev01,49312;Database=CCH_FrontEnd2;User Id=samb01sa;Password=de2Aiyoomie5ahw6;" name="LocalSqlServer" />  -->

      <!-- Alpha SERVER -->
      <add connectionString="Server=samb01vmd03c.cch.clearcosthealth.com,49245;Database=CCH_FrontEnd2;User Id=samb01sa;Password=de2Aiyoomie5ahw6;" name="CCH_FrontEnd" providerName="System.Data.SqlClient" />
      <add connectionString="Server=samb01vmd03c.cch.clearcosthealth.com,49245;Database=CCH_HealthGrades;User Id=samb01sa;Password=de2Aiyoomie5ahw6;" name="CCH_HealthGrades" providerName="System.Data.SqlClient"/>
      <add connectionString="Server=samb01vmd03c.cch.clearcosthealth.com,49245;Database=CCH_Demo;User Id=samb01sa;Password=de2Aiyoomie5ahw6;" name="CCH_DemoConnectionString" providerName="System.Data.SqlClient"/>
      <add connectionString="Server=samb01vmd03c.cch.clearcosthealth.com,49245;Database=CCH_ReferenceData;User Id=samb01sa;Password=de2Aiyoomie5ahw6;" name="CCH_Reference" providerName="System.Data.SqlClient" />

      <!-- New Alpha02 Server 
      <add connectionString="Server=samb01vmd03c.cch.clearcosthealth.com\alpha02,49435;Database=CCH_FrontEnd2;User Id=samb01sa;Password=de2Aiyoomie5ahw6;" name="CCH_FrontEnd" providerName="System.Data.SqlClient" />
      <add connectionString="Server=samb01vmd03c.cch.clearcosthealth.com\alpha02,49435;Database=CCH_HealthGrades;User Id=samb01sa;Password=de2Aiyoomie5ahw6;" name="CCH_HealthGrades" providerName="System.Data.SqlClient"/>
      <add connectionString="Server=samb01vmd03c.cch.clearcosthealth.com\alpha02,49435;Database=CCH_Demo;User Id=samb01sa;Password=de2Aiyoomie5ahw6;" name="CCH_DemoConnectionString" providerName="System.Data.SqlClient"/>
      <add connectionString="Server=samb01vmd03c.cch.clearcosthealth.com\alpha02,49435;Database=CCH_ReferenceData;User Id=samb01sa;Password=de2Aiyoomie5ahw6;" name="CCH_Reference" providerName="System.Data.SqlClient" />
      <add connectionString="Server=samb01vmd03c.cch.clearcosthealth.com\alpha02,49435;Database=CCH_FrontEnd2;User Id=samb01sa;Password=de2Aiyoomie5ahw6;" name="LocalSqlServer"/>  -->

      <!-- Live Server 
      <add connectionString="Server=samb01vmd02c.cch.clearcosthealth.com,49344;Database=CCH_FrontEnd2;User Id=samb01sa;Password=rahf6xeeSox3;" name="CCH_FrontEnd" providerName="System.Data.SqlClient" />
      <add connectionString="Server=samb01vmd02c.cch.clearcosthealth.com,49344;Database=CCH_HealthGrades;User Id=samb01sa;Password=rahf6xeeSox3;" name="CCH_HealthGrades" providerName="System.Data.SqlClient"/>
      <add connectionString="Server=samb01vmd02c.cch.clearcosthealth.com,49344;Database=CCH_Demo;User Id=samb01sa;Password=rahf6xeeSox3;" name="CCH_DemoConnectionString" providerName="System.Data.SqlClient"/>
      <add connectionString="Server=samb01vmd02c.cch.clearcosthealth.com,49344;Database=CCH_ReferenceData;User Id=samb01sa;Password=rahf6xeeSox3;" name="CCH_Reference" providerName="System.Data.SqlClient" />
      <add connectionString="Server=samb01vmd02c.cch.clearcosthealth.com,49344;Database=CCH_FrontEnd2;User Id=samb01sa;Password=rahf6xeeSox3;" name="LocalSqlServer"/> -->

    </connectionStrings>
  <appSettings>
    <!-- this will need to be configurable -->
    <add key="MediaBaseAddress" value="http://localhost:8084"/> 
    <add key="CardBaseAddress" value="http://localhost:8084/card"/>
    <add key="AspNetUserName" value="CchWebApi"/>
    <add key="Email.SenderEmail" value="CaesarsApp@clearcosthealth.com"/>
    <add key="Email.SenderName" value="Caesars App"/>
    <add key="Email.Encoding" value="Encoding.ASCII"/>
    <add key="Email.Smtp" value="10.100.31.12"/>
    <add key="Email.UseInternalServer" value="true" /> 
    <add key="Email.DeleteWorkFiles" value="true" />
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/></startup></configuration>
