<?xml version="1.0"?>
<!-- For more information on using app.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <!-- Development Server -->
    <add name="CCH_FrontEnd"
         connectionString="Server=samb01vmd01c.cch.clearcosthealth.com,50005;Database=CCH_FrontEnd2;Integrated Security=SSPI;"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="CCH_HealthGrades"
         connectionString="Server=samb01vmd01c.cch.clearcosthealth.com,50005;Database=CCH_HealthGrades;Integrated Security=SSPI;"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="CCH_DemoConnectionString"
         connectionString="Server=samb01vmd01c.cch.clearcosthealth.com,50005;Database=CCH_Demo;Integrated Security=SSPI;"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="LocalSqlServer"
         connectionString="Server=samb01vmd01c.cch.clearcosthealth.com,50005;Database=CCH_FrontEnd2;Integrated Security=SSPI;"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="Platform"
         connectionString="Server=samb01vmd01c.cch.clearcosthealth.com,50005;Database=CCH_FrontEnd2;Integrated Security=SSPI;"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>
  <appSettings>
    <!-- this will need to be configurable -->
    <add key="APIBaseAddress" value="https://pwapi.clearcosthealth.com"
         xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="MediaBaseAddress" value="https://pmedia.clearcosthealth.com"
         xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="CardBaseAddress" value="https://pmedia.clearcosthealth.com/card"
         xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>
</configuration>