<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="3.5.0" targetFramework="net461" />
  <package id="Autofac.WebApi2" version="3.4.0" targetFramework="net461" />
  <package id="ClearCost" version="1.0.5" targetFramework="net461" />
  <package id="ClearCost.Data" version="1.0.4" targetFramework="net461" />
  <package id="ClearCost.Platform" version="1.0.1" targetFramework="net461" />
  <package id="ClearCost.Security" version="1.0.0" targetFramework="net461" />
  <package id="ClearCost.UnitTesting" version="1.0.1" targetFramework="net461" />
  <package id="EntityFramework" version="6.1.3" targetFramework="net461" />
  <package id="jose-jwt" version="1.9.2" targetFramework="net461" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.2" targetFramework="net461" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.2" targetFramework="net461" />
  <package id="Microsoft.Bcl" version="1.1.9" targetFramework="net461" />
  <package id="Microsoft.Bcl.Async" version="1.0.168" targetFramework="net461" />
  <package id="Microsoft.Bcl.Build" version="1.0.14" targetFramework="net461" />
  <package id="Microsoft.Net.Http" version="2.2.22" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="7.0.1" targetFramework="net461" />
  <package id="NLog" version="4.2.3" targetFramework="net461" />
  <package id="NLog.Config" version="4.2.3" targetFramework="net461" />
  <package id="NLog.Schema" version="4.0.0" targetFramework="net461" />
</packages>