<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="ImagesPath" value="/Images/" />
    <add key="StorageAccountName_" value="reydavid"/>
    <add key="StorageAccountName" value="anzovinclearcost"/>
    <add key="StorageAccountKey_" value="TOXFUQFICf02+MTzTuXhdQf7QzV3oqd02Nm5KxqaPPnJFkcbWIOFCMCP9XV1ouQl58CO4aRFoafAgIFcnS/ULw=="/>
    <add key="StorageAccountKey" value="yF70vKqhAWJ/VFJy4JfecToCx7Ys9kOsKfnglrW/DlvQlXS+EHViYwpi+xv6zlv5J1YhtWn9lOpZecx4LmtUJg=="/>
    <add key="PublicStorageContainer_" value="catvideos"/>
    <add key="PublicStorageContainer" value="pubvideos"/>
    <add key="PublicStorageContainerUrl_" value="https://reydavid.blob.core.windows.net/catvideos/"/>
    <add key="PublicStorageContainerUrl" value="https://anzovinclearcost.blob.core.windows.net/pubvideos/"/>
    <add key="PrivateStorageContainer_" value="privatevideos"/>
    <add key="PrivateStorageContainer" value="videos"/>
    <add key="PrivateStorageContainerUrl_" value="https://reydavid.blob.core.windows.net/privatevideos/"/>
    <add key="PrivateStorageContainerUrl" value="https://anzovinclearcost.blob.core.windows.net/videos/"/>
    <add key="PosterName" value="CuteCate.png"/>
    <add key="PosterUrl" value="https://reydavid.blob.core.windows.net/catvideos/CuteCat.png"/>
    <add key="IntroductoryVideoFileId_" value="Chopsticks%20Cat%20360.mp4"/>
    <add key="IntroductoryVideoFileId" value="testvideo.mp4"/>
    <add key="ViewWindowInMinutes" value="5"/>
    <add key="APIBaseAddress_" value="http://localhost:53934"/>
    <add key="APIBaseAddress" value="https://dapi.clearcosthealth.com"/>
    <add key="APIClientKey" value="39E4A8D6-DE1B-4671-95BC-EC39DA29070B"/>
    <add key="HandshakeId" value="8A09F40C-3891-4857-B008-0B3C945D849C"/>
    <add key="DefaultEmployerId" value="7"/>
    <add key="DefaultVideoCampaignMemberId" value="C0DCD253-BC9E-449C-9EB6-0C61F570D68D"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Extensibility.Web.RequestTracking.WebRequestTrackingModule, Microsoft.ApplicationInsights.Extensibility.Web" />
    </httpModules>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.2.0" newVersion="5.2.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules>
      <remove name="ApplicationInsightsWebTracking" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Extensibility.Web.RequestTracking.WebRequestTrackingModule, Microsoft.ApplicationInsights.Extensibility.Web" preCondition="managedHandler" />
    </modules>
  </system.webServer>
</configuration>
